<script type="text/javascript">
    // DATE: Automatically have date fields display the current date based on the User's location
    // Taken from: https://stackoverflow.com/questions/67659091/why-i-am-getting-this-warning-message-does-not-conform-to-the-required-format
    // document.getElementById("date-today").addEventListener("load", dateToday);
    // function dateToday() {
    //     const todayDate = new Date(); 
    //     const formatDate = todayDate.getDate() < 10 ? `0${todayDate.getDate()}`:todayDate.getDate();
    //     const formatMonth = todayDate.getMonth() < 10 ? `0${todayDate.getMonth()+1}`: todayDate.getMonth()+1;
    //     const formattedDate = [todayDate.getFullYear(), formatMonth, formatDate].join('-');
    //     document.getElementById('acquired-date').value = formattedDate;
    // }
    
    
</script>