{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/onboarding.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Onboarding Farm
{% endblock %}

{% block content %}
<div class="large-screen-h1">
    <div class="row">
        <h1>Onboarding Farm</h1>
    </div>
    <div class="row">
        <hr class="hr-large">
    </div>
</div>
<div class="container form-container">
  <div class="row mb-0">
    <div class="col-10 col-css">
      <h4 class="text-start">
        Page 2 of 5
      </h4>
    </div>
    <div class="col-2 col-css-right">
        <i class="fas fa-info-circle"></i>
    </div>
  </div>
  <div class="form-data">
    <p class="text-start">
      Tell us about your farm...
    </p>
  </div>
</div>
<div class="row">
  <hr class="hr-large">
</div>

<div class="form-container">
  <form method="POST" action="{% url 'get_onboarding_data' %}">
    {% csrf_token %}
      <div class="form-data row">
          {% if 'farm_business_name' in onboard_profile_data %}
              <input type="text" name="farm_business_name" placeholder="Farm/Business Name" value="{{ onboard_profile_data.farm_business_name }}" id="farm_business_name" required>
          {% else %}
              <input type="text" name="farm_business_name" placeholder="Farm/Business Name" id="farm_business_name" required>
      </div>
      <div class="form-data">
          <select name="farm_type" id="farm_type" required>
            {% if 'farm_type' in onboard_profile_data %}
              <option value="" disabled>Farm Type</option>
              {% for farm_type in farm_types %}
                {% if farm_type == onboard_Profile_data.farm_type %}
                  <option value="{{ farm_type }}" selected>{{ farm_type|title }}</option>
                {% else %}
                  <option value="{{ farm_type }}">{{ farm_type|title }}</option>
                  {% endif %}
              {% endfor %}                
            {% else %}
              <option value="" disabled selected>Farm Type</option>
              {% for farm_type in farm_types %}
                <option value="{{ farm_type }}">{{ farm_type|title }}</option>
              {% endfor %}
            {% endif %}              
          </select>
        </div>
        <div class="form-data">
            <div>
              {% if 'flock_qty' in onboard_profile_data %}
                <input type="number" name="flock_qty" placeholder="How Many Flocks do You Have?" id="flock_qty" 
                  step="1" min="1" value="{{ onboard_profile_data.flock_qty }}" oninput="this.value = Math.abs(this.value)" required>
              {% else %}
                <input type="number" name="flock_qty" placeholder="How Many Flocks do You Have?" id="flock_qty" 
                    step="1" min="1" oninput="this.value = Math.abs(this.value)" required>
              {% endif %}
            </div>
        </div>
        <div class="form-data">
            <div>
              {% if 'coop_qty' in onboard_profile_data %}
                <input type="number" name="coop_qty" placeholder="How Many Coops do You Have?" id="coop_qty" 
                step="1" min="1" value="{{ onboard_profile_data.coop_qty }}" oninput="this.value = Math.abs(this.value)" required>
              {% else %}
                <input type="number" name="coop_qty" placeholder="How Many Coops do You Have?" id="coop_qty" 
                    step="1" min="1" oninput="this.value = Math.abs(this.value)" required>
              {% endif %}
            </div>
        </div>
        <input type="hidden" name="redirect_url" value="onboard_flock"/>
        <div class="form-data">
            <div>
                <hr class="hr-large">
            </div>
        </div>
        <div class="form-data">
            <div>
                <!--<button class="button button-full-size">Prev page</button>-->
                <a href="{% url 'onboard_personal' %}" class="btn button button-small-size">Previous</a> <button type='submit' class="btn button button-small-size">Next</button>
            </div>
        </div>

  </form>
</div>

{% endblock %}