{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/onboarding.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Onboarding Flock(s)
{% endblock %}

{% block content %}
<div class="large-screen-h1">
    <div class="bottom-margin">
        <h1>Onboarding Flock(s)</h1>
    </div>
    <div class="bottom-margin">
        <hr class="hr-large">
    </div>
</div>
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-10 col-css">
            <h4 class="text-start">
                Page 2 of 4
            </h4>
        </div>
        <div class="col-2 col-css-right">
            <i class="fas fa-info-circle icon-orange" data-bs-toggle="modal" data-bs-target="#myModal"></i>
        </div>
    </div>
    <div class="bottom-margin">
        <p class="text-start">
            Tell us about your flock(s)...
        </p>
    </div>
</div>

<!-- "i" icon modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Onboarding Help - Flock</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-start modal-body">Each new set of birds you get should be recorded as an individual flock, even if they
                    share the same coop and spaces. If the flock has an official registration number, you can include it 
                    as pert of the name.
                </p>
                <ul class="text-start">
                    <li><span class="fw-bold">Flock Name:</span> Give your flock a name.</li>
                    <li><span class="fw-bold">Acquired Date:</span> This is the approximate date you received the flock.</li>
                    <li><span class="fw-bold">Coop Name:</span> Give your coop a name.</li>
                    <li><span class="fw-bold">Breed:</span> Indicate your bird's breed.</li>
                    <li><span class="fw-bold">Hens, Chicks & Cocks Qty:</span> Add a quantity for each or else leave the field blank.
                        You must add a quantity of 1 or greater to at least one field.</li>
                    <li><span class="fw-bold">Add Another Button:</span> If you have multiple flocks, click the "Add Another" button
                        to add each flock individually.</li>
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="bottom-margin">
    <hr class="hr-large">
</div>

<div class="element-container">
    <form method="POST" action="{% url 'get_onboarding_data' %}" name="hcc-form">
        {% csrf_token %}
        <div class="form-data">
            <!-- Flock Core Info Section -->
            <section name="flock-core-info">
                <div class="bottom-margin">
                    {% if 'flock_name' in onboard_profile_data %}
                    <input type="text" name="flock_name" value="{{ onboard_profile_data.flock_name }}" placeholder="Flock Name" id="flock_name" required>
                    {% else %}
                    <input type="text" name="flock_name" placeholder="Flock Name" id="flock_name" required>
                    {% endif %}
                </div>
                <div class="bottom-margin">
                    {% if 'acquired_date' in onboard_profile_data %}
                    <input type="date" name="acquired_date" value="{{ onboard_profile_data.acquired_date }}" placeholder="Acquired Date" id="acquired_date" required>
                    {% else %}
                    <input type="date" name="acquired_date" placeholder="Acquired Date" id="acquired_date" required>
                    {% endif %}
                </div>
                <div class="bottom-margin">
                    <input type="text" name="coop1_name" placeholder="Coop Name" id="coop1_name" required>
                </div>
                <div class="bottom-margin">
                    <select name="breed" id="breed" required>
                        {% if 'breed' in onboard_profile_data %}
                        <option value="" disabled>Breed</option>
                            {% for breed in breed %}
                                {% if breed == onboard_Profile_data.breed %}
                                <option value="{{ breed }}" selected>{{ breed|title }}</option>
                                {% else %}
                                <option value="{{ breed }}">{{ breed|title }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}     
                        <option value="" disabled selected>Breed</option>
                            {% for farm_type in farm_types %}
                            <option value="{{ breed }}">{{ breed|title }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="bottom-margin">
                    <hr class="hr-small">
                </div>
            </section>

            {% include 'html_includes/hens_chicks_cocks.html' %}

            <!-- Used as a warning instead of an Alert -->
            <section name="warning-section">
                <div class="warning-div">
                    <h5 class="text-danger text-start" id="bird-qty-warning"></h5>
                </div>
                <div class="bottom-margin">
                    <hr class="hr-large">
                </div>
            </section>

            <div class="bottom-margin">
                <input type="hidden" name="redirect_url" value="onboard_produce"/>
                <a href="{% url 'onboard_personal' %}" class="btn button button-small-size">Previous</a> 
                <button type='submit' id="hcc-button" class="btn button button-small-size" onclick="validateQtys()">Next</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}