{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/onboarding.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Onboarding Flock(s)
{% endblock %}

{% block content %}
<div class="large-screen-h1">
  <h1>Onboarding Flock(s)</h1>
  <hr class="hr-large">
</div>
<div>
  <h4>
    Page 3 of 5
  </h4>
</div>
<div>
  <p>
    ...About your flock(s)...
  </p>
  <hr class="hr-large">
</div>

<div class="form-container">
  <form method="POST" action="{% url 'get_onboarding_data' %}">
    {% csrf_token %}
      <div class="form-data">
        <div>
            <input type="text" name="flock_name" placeholder="Flock Name" id="flock_name" required>
        </div>
      </div>
      <div class="form-data">
        <div>
            <input type="date" name="acquired_date" placeholder="Acquired Date" id="acquired_date" required>
        </div>
      </div>
      <div class="form-data">
        <div>
            <input type="text" name="coop1_name" placeholder="Coop Name" id="coop1_name" required>
        </div>
      </div>
      <div class="form-data">
        <div>
            <select name="breed" id="breed" required>
                <option value="" disabled selected>Breed</option>
                <option value="rhode_island_red">Rhode Island Red</option>
                <option value="sussex">Sussex</option>
                <option value="plymouth_rock">Plymouth Rock</option>
            </select>
        </div>
        <div class="form-data">
            <div>
                <select name="purpose" id="purpose" required>
                    <option value="" disabled selected>Purpose</option>
                    <option value="eggs">Eggs</option>
                    <option value="meat">Meat</option>
                </select>
            </div>
        </div>
        <div class="form-data">
            <div>
                <hr class="hr-small">
            </div>
        </div>
        
        <div class="container form-data">
            <div class="row">
                <div class="col-1 col-css">
                    <img src="{{ MEDIA_URL }}hen.png" alt="Chicken">
                </div>
                <div class="col-2 col-css">
                    <h4>Hens</h4>
                </div>
                <div class="col-5 col-css">
                    <input type="checkbox" name="all_hens_check" id="all_hens_check">
                    <label for="all_hens_check">All Hens</label>
                </div>
                <div class="col-4 col-css col-css-right">
                    <input type="number" name="hens_qty" placeholder="Quantity" id="hens_qty" 
                        step="1" min="0" oninput="this.value = Math.abs(this.value)">
                </div>
            </div>
            <div>
                <hr class="hr-small">
            </div>

            <div class="row">
                <div class="col-1 col-css">
                    <img src="{{ MEDIA_URL }}hen.png" alt="Chick">
                </div>
                <div class="col-2 col-css">
                    <h4>Chicks</h4>
                </div>
                <div class="col-5 col-css">
                    <input type="checkbox" name="all_chicks_check" id="all_chicks_check">
                    <label for="all_chicks_check">All Chicks</label>
                </div>
                <div class="col-4 col-css col-css-right">
                    <input type="number" name="chicks_qty" placeholder="Quantity" id="chicks_qty" 
                        step="1" min="0" oninput="this.value = Math.abs(this.value)">
                </div>
            </div>
            <div>
                <hr class="hr-small">
            </div>

            <div class="row">
                <div class="col-1 col-css">
                    <img src="{{ MEDIA_URL }}hen.png" alt="Cock">
                </div>
                <div class="col-2 col-css">
                    <h4>Cocks</h4>
                </div>
                <div class="col-5 col-css">
                    <input type="checkbox" name="all_cocks_check" id="all_cocks_check">
                    <label for="all_cocks_check">All Cocks</label>
                </div>
                <div class="col-4 col-css col-css-right">
                    <input type="number" name="cocks_qty" placeholder="Quantity" id="cocks_qty" 
                        step="1" min="0" oninput="this.value = Math.abs(this.value)">
                </div>
            </div>
        </div>
        <input type="hidden" name="redirect_url" value="onboard_produce"/>
        <div class="form-data">
            <div>
                <hr class="hr-large">
            </div>
        </div>
        <div class="form-data">
            <div>
                <!--<button class="button button-full-size">Prev page</button>-->
                <a href="{% url 'onboard_farm' %}" class="btn button button-small-size">Previous</a> <button type='submit' class="btn button button-small-size">Next</button>
            </div>
        </div>

  </form>
</div>

{% endblock %}