{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/signed_in_user_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'profiles/css/onboarding.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Onboarding Flock(s)
{% endblock %}


{% block content %}

<!-- Page Name - Non-Mobile -->
{% include 'html_includes/page_name_non_mobile.html' with page_name="Onboarding Flock(s)" %}

<!-- Page Counter & Intro -->
{% include 'html_includes/onboard_page_counter_and_info.html' with page_number="2 of 4" page_intro="Tell us about your flock...(if you have more than one you can add more inside)." %}

<!-- "i" icon modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Onboarding Help - Flock</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-start modal-body">Each new set of birds you get should be recorded as an individual flock, even if they
                    share the same coop and spaces. If the flock has an official registration number, you can include it 
                    as pert of the name.
                </p>
                <ul class="text-start">
                    <li><span class="fw-bold">Flock Name:</span> Give your flock a name.</li>
                    <li><span class="fw-bold">Acquired Date:</span> This is the approximate date you received the flock.</li>
                    <li><span class="fw-bold">Coop Name:</span> Give your coop a name.</li>
                    <li><span class="fw-bold">Breed:</span> Indicate your bird's breed.</li>
                    <li><span class="fw-bold">Hens, Chicks & Cocks Qty:</span> Add a quantity for each or else leave the field blank.
                        You must add a quantity of 1 or greater to at least one field.</li>
                    <li><span class="fw-bold">Add Another Button:</span> If you have multiple flocks, click the "Add Another" button
                        to add each flock individually.</li>
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- Form Section -->
<div class="element-container">
    <form method="POST" action="{% url 'get_onboarding_data' %}" name="hcc_form" id="submit-form">
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="onboard_sales"/>
        <div class="form-data" id="form-data">

            <!-- Flock Core Info Section -->
            {% for flock in onboard_profile_data.flocks %}
            {% endfor %}
            <section name="flock-core-info">
                <div class="bottom-margin">
                    {% if 'flock_name' in onboard_profile_data %}
                        <input type="text" name="flock_name" value="{{ onboard_profile_data.flock_name }}" placeholder="Flock Name" id="flock-name" required>
                    {% else %}
                        <input type="text" name="flock_name" placeholder="Flock Name" id="flock-name" required>
                    {% endif %}
                </div>
                <div class="bottom-margin">
                    <!-- Input type changes to date on focus in. Allows Placeholder to work.-->
                    <!-- Taken from https://stackoverflow.com/questions/20321202/not-showing-placeholder-for-input-type-date-field -->
                    {% if 'acquired_date' in onboard_profile_data %}
                    <input placeholder="Acquired Date" name="acquired_date" id="acquired-date" type="text" onfocusin="(this.type='date')" onfocusout="(this.type='text')" value="{{ onboard_profile_data.acquired_date }}" required>
                    {% else %}
                    <input placeholder="Acquired Date" name="acquired_date" id="acquired-date" type="text" onfocusin="(this.type='date')" onfocusout="(this.type='text')" value="{{ onboard_profile_data.acquired_date }}" required>
                    {% endif %}
                </div>
                <div class="bottom-margin">
                    {% if 'coop_name' in onboard_profile_data %}
                    <input type="text" name="coop_name" value="{{ onboard_profile_data.coop_name }}" placeholder="Coop Name" id="coop-name" required>
                    {% else %}
                    <input type="text" name="coop_name" placeholder="Coop Name" id="coop-name" required>
                    {% endif %}
                </div>
                <div class="bottom-margin">
                    <select name="breed" id="breed" required>
                        {% if 'breed' in onboard_profile_data %}
                        <option value="" disabled>Breed</option>
                            {% for breed in breed %}
                                {% if breed.id == onboard_profile_data.breed %}
                                <option value="{{ breed.id }}" selected>{{ breed|title }}</option>
                                {% else %}
                                <option value="{{ breed.id }}">{{ breed|title }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}     
                        <option value="" disabled selected>Breed</option>
                            {% for breed in breed %}
                            <option value="{{ breed.id }}">{{ breed|title }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-small">
            </div>

            {% include 'html_includes/hens_chicks_cocks.html' %}

            <!-- Used as a warning instead of an Alert -->
            {% include 'html_includes/validation_warning.html' %}

            <!-- Buttons Section -->
            <div class="button-container">
                <a href="{% url 'onboard_personal' %}" class="btn button button-full-size">Previous</a> 
                <button type='submit' id="hcc-button" class="btn button button-full-size" onclick="validateFlock()">Next</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block postloadjs %}

{% endblock %}
