{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/signed_in_user_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'profiles/css/onboarding.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Onboarding Sales
{% endblock %}


{% block content %}

<!-- Page Name - Non-Mobile -->
{% include 'html_includes/page_name_non_mobile.html' with page_name="Onboarding Sales" %}

<!-- Page Counter & Intro -->
{% include 'html_includes/onboard_page_counter_and_info.html' with page_number="3 of 4" page_intro="...And how you sell your produce. Please select at least one option from each section." %}

<!-- "i" icon modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Onboarding Help - Sales</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h4 class="text-left modal-body">
                    Sales Methods
                </h4>
                <ul class="text-start">
                    <li><span class="fw-bold">Roadside:</span> Sales made from the roadside where you generally don't
                        meet or know the buyers.</li>
                    <li><span class="fw-bold">Markets:</span> Choose this option if you sell at a country market,
                        campsite or anywhere else you may have a stall.</li>
                    <li><span class="fw-bold">Deliveries:</span> If you deliver directly to regular customers click
                        this option.</li>
                    <li><span class="fw-bold">Collections:</span> Collections are sales to regular customers that
                        you know and who come to you.</li>
                </ul>
                <h4 class="text-left modal-body">
                    Sales Units
                </h4>
                <ul class="text-start">
                    <li><span class="fw-bold">Single Eggs:</span> If you sell your eggs singularly, select this option.</li>
                    <li><span class="fw-bold">1/2 Dozen Cartons:</span> Eggs sold in 6's.</li>
                    <li><span class="fw-bold">Cartons of 10:</span>  Eggs sold in 10's.</li>
                    <li><span class="fw-bold">Dozen Cartons:</span>  Eggs sold in 12's.</li>
                    <li><span class="fw-bold">Trays/Other:</span> If you have an alternative carton size tick this option. The default qty is 30, but you can change it in the Qty field.</li>
                </ul>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- Form Section -->
<div class="element-container">
    <form id="submit-form" method="POST" action="{% url 'get_onboarding_data' %}">
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="onboard_stock"/>
        <input type="hidden" name="checkbox_form" value="True"/>
        <div class="form-data">

            <!-- Sales Methods Section -->
            <section name="sales-methods-section">
                <div class="bottom-margin">
                    <h4>Sales Methods</h4>
                </div>
                <div class="bottom-margin">
                    <p>Where do you sell your produce?</p>
                </div>
                <div class="container">
                    <div class="row bottom-margin" id="roadside-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Roadside</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if onboard_profile_data.roadside_check %}
                            <input type="checkbox" name="roadside_check" id="roadside-check" class="col-css-element sales-methods" checked>
                            {% else %}
                            <input type="checkbox" name="roadside_check" id="roadside-check" class="col-css-element sales-methods">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row bottom-margin" id="markets-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Markets</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if onboard_profile_data.markets_check %}
                            <input type="checkbox" name="markets_check" id="markets-check" class="col-css-element sales-methods" checked>
                            {% else %}
                            <input type="checkbox" name="markets_check" id="markets-check" class="col-css-element sales-methods">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row bottom-margin" id="deliveries-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Deliveries</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if onboard_profile_data.deliveries_check %}
                            <input type="checkbox" name="deliveries_check" id="deliveries-check" class="col-css-element sales-methods" checked>
                            {% else %}
                            <input type="checkbox" name="deliveries_check" id="deliveries-check" class="col-css-element sales-methods">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row bottom-margin" id="collections-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Collections</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if onboard_profile_data.collections_check %}
                            <input type="checkbox" name="collections_check" id="collections-check" class="col-css-element sales-methods" checked>
                            {% else %}
                            <input type="checkbox" name="collections_check" id="collections-check" class="col-css-element sales-methods">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>

            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Sales Units Section -->
            <section name="sales-units-section">
                <div class="bottom-margin">
                    <h4>Sales Units</h4>
                </div>
                <div class="bottom-margin">
                    <p>In what unit quantities do you sell your eggs?</p>
                </div>
                <div class="container">
                    <div class="row bottom-margin" id="single-eggs-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Single Eggs</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if onboard_profile_data.single_eggs_check %}
                            <input type="checkbox" name="single_eggs_check" id="single-eggs-check" class="col-css-element" checked>
                            {% else %}
                            <input type="checkbox" name="single_eggs_check" id="single-eggs-check" class="col-css-element">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row bottom-margin" id="half-dozen-carton-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">1/2 Dozen Cartons</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if onboard_profile_data.half_dozen_carton_check %}
                            <input type="checkbox" name="half_dozen_carton_check" id="half-dozen-carton-check" class="col-css-element" checked>
                            {% else %}
                            <input type="checkbox" name="half_dozen_carton_check" id="half-dozen-carton-check" class="col-css-element">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row bottom-margin" id="ten-egg-carton-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">10 Egg Cartons</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if onboard_profile_data.ten_egg_carton_check %}
                            <input type="checkbox" name="ten_egg_carton_check" id="ten-egg-carton-check" class="col-css-element" checked>
                            {% else %}
                            <input type="checkbox" name="ten_egg_carton_check" id="ten-egg-carton-check" class="col-css-element">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row bottom-margin" id="dozen-carton-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Dozen Cartons</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if onboard_profile_data.dozen_carton_check %}
                            <input type="checkbox" name="dozen_carton_check" id="dozen-carton-check" class="col-css-element" checked>
                            {% else %}
                            <input type="checkbox" name="dozen_carton_check" id="dozen-carton-check" class="col-css-element">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row bottom-margin" id="trays-row">
                        <div class="col-8 col-css">
                            <h6 class="col-css-element checkbox-label">Trays/Other Carton Sizes</h6>
                        </div>
                        <div class="col-3 col-css show-on-click">
                            {% if 'trays_qty' in onboard_profile_data %}
                                <input type="number" name="trays_qty" value="{{ onboard_profile_data.trays_qty }}" placeholder="Tray Qty" id="trays-qty" 
                                    step="1" min="0" oninput="this.value = Math.abs(this.value)" class="col-css-element">
                            {% else %}
                                <input type="number" name="trays_qty" value="30" placeholder="Tray Qty" id="trays-qty" 
                                    step="1" min="0" oninput="this.value = Math.abs(this.value)" class="col-css-element">
                            {% endif %}
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if onboard_profile_data.trays_check %}
                                <input type="checkbox" name="trays_check" id="trays-check" class="click-to-show" checked>
                            {% else %}
                                <input type="checkbox" name="trays_check" id="trays-check" class="click-to-show">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>

            <!-- Used as a warning instead of an Alert -->
            {% include 'html_includes/validation_warning.html' %}

            <!-- Buttons Section -->
            <div class="button-container bottom-margin">
                <!--<button class="button button-full-size">Prev page</button>-->
                <a href="{% url 'onboard_flock' %}" class="btn button button-full-size">Previous</a> 
                <button type="submit" id="produce-next-button" class="btn button button-full-size" onclick="injectHref()">Next</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}