{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/onboarding.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Onboarding Stocks
{% endblock %}

{% block content %}
<div class="large-screen-h1">
  <h1>Onboarding Stocks</h1>
  <hr class="hr-large">
</div>
<div class="container form-container">
    <div class="row mb-0">
        <div class="col-10 col-css">
            <h4 class="text-start">
                Page 4 of 4
            </h4>
        </div>
        <div class="col-2 col-css-right">
            <i class="fas fa-info-circle"  data-bs-toggle="modal" data-bs-target="#myModal"></i>
        </div>
    </div>
    <p class="text-start">
        Finally, tell us about your existing stocks. If you don't have the information to hand,
        don't worry, you can add it later in the “Profile & Settings” section.
    </p>
</div>

<!-- "i" icon modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Onboarding Help - Stock</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <ul class="text-start">
                    <li><span class="fw-bold">Saleable Eggs:</span> This is the qty of eggs currently in your stocks 
                        that are available for sale.</li>
                    <li><span class="fw-bold">Feed Name:</span> Enter the name of the feed. If applicable, select from 
                        the suggestions.</li>
                    <li><span class="fw-bold">Feed Qty in Stock:</span> The approximate amount of that feed that you
                        currently have in stock.</li>
                    <li><span class="fw-bold">Feed - Add Another:</span> If you have numerous different feeds in stock,
                        click this button to add more types.</li>
                    <li><span class="fw-bold">Supplement Name:</span> Enter the name of the supplement. If applicable, select from 
                        the suggestions.</li>
                    <li><span class="fw-bold">Supplement Amount in Stock:</span> The approximate amount of that supplement that you
                        currently have in stock.</li>
                    <li><span class="fw-bold">Supplement - Add Another:</span> If you have numerous different supplements in stock,
                        click this button to add more types.</li>
                </ul>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
  <hr class="hr-large">
</div>

<div class="form-container">
    <form method="POST" action="register">
        <div class="form-data">
            <div>
                <h4>Saleable Eggs</h4>
            </div>
            <div>
                <input type="number" name="saleable-eggs-qty" placeholder="Qty Saleable Eggs in Stock" id="saleable-eggs-qty" 
                    step="1" min="0" oninput="this.value = Math.abs(this.value)" required>
            </div>
            <div>
                <hr class="hr-small">
            </div>
            <div>
                <h4>Feeds</h4>
            </div>
            <div>
                <input type="text" name="feed_name" placeholder="Feed Name" id="feed_name" required>
            </div>
            <div class="containera">
                <div class="row mb-0">
                    <div class="col-10 col-css">
                        <input type="number" name="feed-qty-stock" placeholder="Qty in Stock" id="feed-qty-stock" 
                            step="1" min="0" oninput="this.value = Math.abs(this.value)" required>
                    </div>
                    <div class="col-2 col-css">
                        <h5 class="text-end">
                            kg
                        </h5>
                    </div>
                </div>
            </div>
            <div class="add-another-btn-div">
                <button href="" type="button" class="button add-another-btn">Add Another</button>
            </div>
            <div>
                <hr class="hr-small">
            </div>
            <div>
                <h4>Supplements</h4>
            </div>
            <div class="container">
                <div class="row mb-0">
                    <div class="col-10 col-css">
                        <input type="number" name="supplement-amount-stock" placeholder="Amount in Stock" id="supplement-amount-stock" 
                            step="1" min="0" oninput="this.value = Math.abs(this.value)" required>
                    </div>
                    <div class="col-2 col-css">
                        <h5 class="text-end">
                            ml
                        </h5>
                    </div>
                </div>
            </div>
            <div class="add-another-btn-div">
                <button href="" type="button" class="button add-another-btn">Add Another</button>
            </div>
            <div>
                <hr class="hr-large">
            </div>
            <div>
                <input type="text" name="supplement_name" placeholder="Supplement Name" id="supplement_name" required>
                <!--<button class="button button-full-size">Prev page</button>-->
                <a href="{% url 'onboard_produce' %}" class="btn button button-small-size">Previous</a> 
                <a href="{% url 'dashboard' %}" class="btn button button-small-size">Finish</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}