{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/onboarding.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Onboarding Personal
{% endblock %}

{% block content %}
<div class="large-screen-h1">
  <h1>Onboarding Personal</h1>
  <hr class="hr-large">
</div>
<div class="container form-container">
  <div class="row mb-0">
    <div class="col-10 col-css">
      <h4 class="text-start">
        Page 1 of 5
      </h4>
    </div>
    <div class="col-2 col-css-right">
        <i class="fas fa-info-circle"></i>
    </div>
  </div>
  <div class="form-data">
    <p class="text-start">
        To give you the best possible experience we just need a few more bits of information.
    </p>
  </div>
</div>
<div>
  <hr class="hr-large">
</div>

<div class="form-container">
  <form method="POST" action="register">
      <div class="form-data">
          <div>
              <input type="text" name="full_name" placeholder="Full Name" id="full_name" required>
          </div>
      </div>
      <div class="form-data">
        <div>
            <input type="text" name="city_country" placeholder="City, Country" id="city_country" required>
        </div>
    </div>
    <div class="form-data">
      <div>
        <hr class="hr-large">
      </div>
    </div>
    <div class="form-data">
      <div>
        <!--<button class="button button-full-size">Prev page</button>-->
        <a href="" class="btn button button-small-size">Previous</a> <a href="{% url 'onboard_farm' %}" class="btn button button-small-size">Next</a>
      </div>
    </div>

  </form>
</div>
{% endblock %}