{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/onboarding.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Onboarding Sales
{% endblock %}

{% block content %}
<div class="large-screen-h1">
    <div class="row">
        <h1>Onboarding Sales</h1>
    </div>
    <div class="row">
        <hr class="hr-large">
    </div>
</div>
<div class="container form-container">
    <div class="row">
        <div class="col-10 col-css">
            <h4 class="text-start">
                Page 3 of 4
            </h4>
        </div>
        <div class="col-2 col-css-right">
            <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#myModal"></i>
        </div>
    </div>
    <div class="row">
        <p class="text-start">
            ...And how you sell your produce. Please select at least one option from each section.
        </p>
    </div>
</div>

<!-- "i" icon modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Onboarding Help - Sales</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h4 class="text-left modal-body">
                    Sales Methods
                </h4>
                <ul class="text-start">
                    <li><span class="fw-bold">Roadside:</span> Sales made from the roadside where you generally don't
                        meet or know the buyers.</li>
                    <li><span class="fw-bold">Markets:</span> Choose this option if you sell at a country market,
                        campsite or anywhere else you may have a stall.</li>
                    <li><span class="fw-bold">Deliveries:</span> If you deliver directly to regular customers click
                        this option.</li>
                    <li><span class="fw-bold">Collections:</span> Collections are sales to regular customers that
                        you know and who come to you.</li>
                </ul>
                <h4 class="text-left modal-body">
                    Sales Units
                </h4>
                <ul class="text-start">
                    <li><span class="fw-bold">Single Eggs:</span> If you sell your eggs singularly, select this option.</li>
                    <li><span class="fw-bold">1/2 Dozen Cartons:</span> Eggs sold in 6's.</li>
                    <li><span class="fw-bold">Dozen Cartons:</span>  Eggs sold in 12's.</li>
                    <li><span class="fw-bold">Trays:</span> The default tray qty is 30, but you can change it in the Qty field.</li>
                </ul>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <hr class="hr-large">
</div>

<div class="form-container">
    <form method="POST" action="{% url 'get_onboarding_data' %}">
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="onboard_stock"/>
        <div class="form-data">

            <!-- Sales Methods Section -->
            <section name="sales-methods-section">
                <div class="row">
                    <h4>Sales Methods</h4>
                </div>
                <div class="row">
                    <p>Where do you sell your produce?</p>
                </div>
                <div class="container">
                    <div class="row" id="roadside-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Roadside</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            {% if 'roadside-check' in onboard_profile_data %}
                            <input type="checkbox" name="roadside-check" id="roadside-check" class="col-css-element sales-methods" checked>
                            {% else %}
                            <input type="checkbox" name="roadside-check" id="roadside-check" class="col-css-element sales-methods">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row" id="markets-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Markets</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            <input type="checkbox" name="markets-check" id="markets-check" class="col-css-element sales-methods">
                        </div>
                    </div>
                    <div class="row" id="deliveries-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Deliveries</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            <input type="checkbox" name="deliveries-check" id="deliveries-check" class="col-css-element sales-methods">
                        </div>
                    </div>
                    <div class="row" id="collections-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Collections</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            <input type="checkbox" name="collections-check" id="collections-check" class="col-css-element sales-methods">
                        </div>
                    </div>
                    <div class="form-data">
                        <div class="row">
                            <hr class="hr-small">
                        </div>
                    </div>
                </div>
            </section>

            <!-- Sales Units Section -->
            <section name="sales-units-section">
                <div class="row">
                    <h4>Sales Units</h4>
                </div>
                <div class="row">
                    <p>In what unit quantities do you sell your eggs?</p>
                </div>
                <div class="container">
                    <div class="row" id="single-eggs-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Single Eggs</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            <input type="checkbox" name="single-eggs-check" id="single-eggs-check" class="col-css-element">
                        </div>
                    </div>
                    <div class="row" id="half-dozen-carton-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">1/2 Dozen Cartons</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            <input type="checkbox" name="half-dozen-carton-check" id="half-dozen-carton-check" class="col-css-element">
                        </div>
                    </div>
                    <div class="row" id="dozen-carton-row">
                        <div class="col-11 col-css">
                            <h6 class="col-css-element checkbox-label">Dozen Cartons</h6>
                        </div>
                        <div class="col-1 col-css col-css-right">
                            <input type="checkbox" name="dozen-carton-check" id="dozen-carton-check" class="col-css-element">
                        </div>
                    </div>
                    <div class="row" id="trays-row">
                        <div class="col-7 col-css">
                            <h6 class="col-css-element checkbox-label">Trays</h6>
                        </div>
                        <div class="col-4 col-css">
                            <input type="number" name="trays_qty" value="30" placeholder="Tray Qty" id="trays_qty" 
                                step="1" min="0" oninput="this.value = Math.abs(this.value)" class="col-css-element">
                        </div>
                        <div class="col-1 col-css col-css-right">
                            <input type="checkbox" name="trays-check" id="trays-check" class="col-css-element">
                        </div>
                    </div>
                </div>
            </section>

            <!-- Used as a warning instead of an Alert -->
            <section name="warning">
                <div class="warning-div row">
                    <h5 class="text-danger text-start" id="sales-unit-method-warning"></h5>
                </div>
            </section>

            <div class="row">
                <hr class="hr-large">
            </div>
            <div>
                <!--<button class="button button-full-size">Prev page</button>-->
                <a href="{% url 'onboard_flock' %}" class="btn button button-full-size">Previous</a> 
                <button type='submit' id="produce-next-button" class="btn button button-full-size" onclick="injectHref()">Next</button>
            </div>
        </div>
  </form>
</div>

{% endblock %}