body {
    background-color: var(--orange_bg);
}

.element-container {
    border:  2px solid var(--black);
    border-radius: 5px;
    background-color: var(--green_bg);
    height: 50px;
    margin-bottom: 10px;
    position: relative;
}

.dashboard-icon-div,
.dashboard-icon-name-div {
    position: absolute;
}

.dashboard-icon-div {
    left: 10px;
    top: 3px;
}

.dashboard-icon-name-div {
    left: 50px;
    top: 12px;
}


/* Margin Bottom set to 0 which is different to most other pleaces on site.
   Donehere to allow elements center vertically with in the containers */
.row {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
/* required here do to removal of bottom margin on rows */
hr {
    margin-bottom: 10px;
}

.col-2 {
    padding: 0;
}

.col-css > img {
    height: 40px;
    width: 40px;
}

.col-css-left {
    padding-left: 10px;
}

h2 {
    font-size: 20px;
}