{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/flocks.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Bird(s) Removal
{% endblock %}

{% block content %}
<div class="large-screen-h1">
    <div class="bottom-margin">
        <h1>Bird(s) Removal</h1>
    </div>
    <div class="bottom-margin">
        <hr class="hr-large">
    </div>
</div>

<!-- Icons and Links Section -->
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle"></i>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<div class="element-container">
    <form method="POST" action="{% url 'get_onboarding_data' %}" name="hcc-form">
        {% csrf_token %}
        <div class="form-data">
            <!-- Flock Core Info Section -->
            <section name="flock-core-info">

                {% include 'html_includes/date_flock' %}

                <div class="bottom-margin">
                    <select name="removal_reason" id="removal_reason" required>
                        {% if 'removal_reason' in onboard_profile_data %}
                        <option value="" disabled>Removal Reason</option>
                            {% for removal_reason in breed %}
                                {% if removal_reason == onboard_Profile_data.breed %}
                                <option value="{{ removal_reason }}" selected>{{ removal_reason|title }}</option>
                                {% else %}
                                <option value="{{ removal_reason }}">{{ removal_reason|title }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}     
                        <option value="" disabled selected>removal_reason</option>
                            {% for removal_reason in farm_types %}
                            <option value="{{ removal_reason }}">{{ removal_reason|title }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="bottom-margin">
                    <hr class="hr-small">
                </div>

                {% include 'html_includes/date_flock' %}

            </section>

            {% include 'html_includes/hens_chicks_cocks.html' %}


            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Bird Removals Section -->
            <section name="bird_removals">
                <div class="container element-container">
                    <div class="row bottom-margin">
                        <div class="col-10 col-css">
                            <h5 class="col-css-left">Bird Removals</h5>
                        </div>
                        <div class="col-2 col-css-right">
                            <a href=""><img src="{{ MEDIA_URL }}add.png" alt="add a removal icon" class="round-icon"></a>
                        </div>
                    </div>
                </div>
            </section>

            <div class="card bottom-margin">
                <div class="card-body container">
                    <div class="row bottom-margin">
                        <div class="col-3 text-start card-col-one">
                            <h6 class="card-text">Date:</h6>
                            <h6 class="card-text">Quantity:</h6>
                            <h6 class="card-text">Reason:</h6>
                        </div>
                        <div class="col-9 text-start card-col-two">
                            <h6 class="card-text">Date</h6>
                            <h6 class="card-text">Quantity</h6>
                            <h6 class="card-text">Reason</h6>
                        </div>
                    </div>
                </div>
              </div>

            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Notes & Images Section -->
            <section name="notes_and_images">
                <div class="bottom-margin">
                    <h5 class="col-css-left">Notes</h5>
                </div>
                <div class="container element-container">  
                    <div class="row bottom-margin">
                        <div class="photos-div">
                        </div>
                        <div class="photos-div">
                        </div>
                    </div>
                    <div class="row bottom-margin">
                        <div class="photos-div">
                        </div>
                        <div class="photos-div">
                        </div>
                    </div>
                </div>
            </section>

            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Print Section -->
            <section name="notes_and_images">
                <div class="container element-container">
                    <div class="row bottom-margin">
                        <div class="col-4">
                            Print
                        </div>
                        <div class="col-4">
                            Excel
                        </div>
                        <div class="col-4">
                            PDF
                        </div>
                    </div>
                </div>
            </section>

            <!-- Used as a warning instead of an Alert -->
            <section name="warning-section">
                <div class="warning-div">
                    <h5 class="text-danger text-start" id="bird-qty-warning"></h5>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <div>
                <input type="hidden" name="redirect_url" value="onboard_produce"/>
                <a href="{% url 'onboard_personal' %}" class="btn button button-full-size">Previous</a> 
                <button type='submit' id="hcc-button" class="btn button button-full-size" onclick="validateQtys()">Next</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}