{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/flocks.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Flocks/Current Flock
{% endblock %}

{% block content %}
<div class="large-screen-h1">
    <div class="row">
        <h1>Flocks/Current Flock</h1>
    </div>
    <div class="row">
        <hr class="hr-large">
    </div>
</div>

<!-- Icons and Links Section -->
<div class="container row-container">
    <div class="row">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle"></i>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}reports_flocks.png" alt="flock reports icon"></a>
        </div>
        <div class="col-6 col-css">
            <a href=""><img src="{{ MEDIA_URL }}profile_and_setting.png" alt="settings & profile icon"></a>
        </div>
        <div class="col-2 col-css-right">
            <a href=""><img src="{{ MEDIA_URL }}add.png" alt="add a flock icon"></a>
        </div>
    </div>
</div>
<div class="row">
    <hr class="hr-large">
</div>

<div class="row-container">
    <form method="POST" action="{% url 'get_onboarding_data' %}" name="hcc-form">
        {% csrf_token %}
        <div class="form-data">
            <!-- Flock Core Info Section -->
            <section name="flock-core-info">
                <div class="row">
                    {% if 'flock_name' in onboard_profile_data %}
                    <input type="text" name="flock_name" value="{{ onboard_profile_data.flock_name }}" placeholder="Flock Name" id="flock_name" required>
                    {% else %}
                    <input type="text" name="flock_name" placeholder="Flock Name" id="flock_name" required>
                    {% endif %}
                </div>
                <div class="row">
                    {% if 'acquired_date' in onboard_profile_data %}
                    <input type="date" name="acquired_date" value="{{ onboard_profile_data.acquired_date }}" placeholder="Acquired Date" id="acquired_date" required>
                    {% else %}
                    <input type="date" name="acquired_date" placeholder="Acquired Date" id="acquired_date" required>
                    {% endif %}
                </div>
                <div class="row">
                    <input type="text" name="coop1_name" placeholder="Coop Name" id="coop1_name" required>
                </div>
                <div class="row">
                    <select name="breed" id="breed" required>
                        {% if 'breed' in onboard_profile_data %}
                        <option value="" disabled>Breed</option>
                            {% for breed in breed %}
                                {% if breed == onboard_Profile_data.breed %}
                                <option value="{{ breed }}" selected>{{ breed|title }}</option>
                                {% else %}
                                <option value="{{ breed }}">{{ breed|title }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}     
                        <option value="" disabled selected>Breed</option>
                            {% for farm_type in farm_types %}
                            <option value="{{ breed }}">{{ breed|title }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="row">
                    <hr class="hr-small">
                </div>
            </section>

            <!-- HCC Section (Hens, Chicks and Cocks). To be moved to it's own snippet -->
            <section name="flock-hcc">
                <div class="container form-data">
                    <div class="row" id="hens-row">
                        <div class="col-2 col-css">
                            <img src="{{ MEDIA_URL }}flock_manag_hens.png" alt="Chicken" class="col-css-element">
                        </div>
                        <div class="col-3 col-css">
                            <h4 class="col-css-left col-css-element">Hens</h4>
                        </div>
                        <div class="col-3 col-css">
                            <p class="checkbox-label hcc-checkbox-label col-css-element">All Hens</p>
                        </div>
                        <div class="col-1 col-css">
                            <input type="checkbox" name="all_hens_check" id="all_hens_check" class="col-css-element hcc-checkbox">
                        </div>
                        <div class="col-3 col-css col-css-right">
                            {% if 'hens_qty' in onboard_profile_data %}
                            <input type="number" name="hens-qty" value="{{ onboard_profile_data.hens_qty }}" placeholder="Qty" id="hens-qty" 
                                step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                            {% else %}
                            <input type="number" name="hens-qty" placeholder="Qty" id="hens_qty" 
                                step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <hr class="hr-small">
                    </div>

                    <div class="row" id="chicks-row">
                        <div class="col-2 col-css">
                            <img src="{{ MEDIA_URL }}flock_manag_chicks.png" alt="Chicks" class="col-css-element">
                        </div>
                        <div class="col-3 col-css">
                            <h4 class="col-css-left col-css-element">Chicks</h4>
                        </div>
                        <div class="col-3 col-css">
                            <p class="checkbox-label hcc-checkbox-label col-css-element">All Chicks</p>
                        </div>
                        <div class="col-1 col-css">
                            <input type="checkbox" name="all_chicks_check" id="all_chicks_check" class="col-css-element hcc-checkbox">
                        </div>

                        <div class="col-3 col-css col-css-right">
                            {% if 'chicks_qty' in onboard_profile_data %}
                            <input type="number" name="chicks-qty" value="{{ onboard_profile_data.chicks_qty }}" placeholder="Qty" id="chicks-qty" 
                            step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                            {% else %}
                            <input type="number" name="chicks-qty" placeholder="Qty" id="chicks_qty" 
                                step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <hr class="hr-small">
                    </div>

                    <div class="row" id="cocks-row">
                        <div class="col-2 col-css">
                            <img src="{{ MEDIA_URL }}flock_manag_cocks.png" alt="Cocks" class="col-css-element">
                        </div>
                        <div class="col-3 col-css">
                            <h4 class="col-css-left col-css-element">Cocks</h4>
                        </div>
                        <div class="col-3 col-css">
                            <p class="checkbox-label hcc-checkbox-label col-css-element">All Cocks</p>
                        </div>
                        <div class="col-1 col-css">
                            <input type="checkbox" name="all_cocks_check" id="all_cocks_check" class="col-css-element hcc-checkbox">
                        </div>
                        <div class="col-3 col-css col-css-right">
                            {% if 'cocks_qty' in onboard_profile_data %}
                            <input type="number" name="cocks-qty" value="{{ onboard_profile_data.cocks_qty }}" placeholder="Qty" id="cocks-qty" 
                            step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                            {% else %}
                            <input type="number" name="cocks-qty" placeholder="Qty" id="cocks-qty" 
                                step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <hr class="hr-small">
                    </div>
                    <div class="row">
                        <div class="col-10 col-css">
                            <h6 class="row-name">Total Number of Birds:</h6>
                        </div>

                        <div class="col-2 col-css col-css-right">
                            <h6 id="total-birds">0</h6>
                        </div>
                    </div>
                </div>
                <div class="container" name="flocks-container"></div>
                <div class="add-another-btn-div row">
                    <button href="" type="button" class="button add-another-btn" onclick="addAnotherFlock()">Add Another</button>
                </div>
            </section>

            <div class="row">
                <hr class="hr-large">
            </div>

            <!-- Bird Removals Section -->
            <section name="bird_removals">
                <div class="container row-container">
                    <div class="row">
                        <div class="col-10 col-css">
                            <h5 class="col-css-left">Bird Removals</h5>
                        </div>
                        <div class="col-2 col-css-right">
                            <a href=""><img src="{{ MEDIA_URL }}add.png" alt="add a removal icon"></a>
                        </div>
                    </div>
                </div>
            </section>

            <div class="row">
                <hr class="hr-large">
            </div>

            <!-- Notes & Images Section -->
            <section name="notes_and_images">
                <div class="container">
                    <div class="row">
                        <h5 class="col-css-left">Notes</h5>
                    </div>
                </div>
                <div class="container row-container photos-container">  
                    <div class="row">
                        <div class="photos-div">
                        </div>
                    </div>
                    <div class="row">
                        <div class="photos-div">
                        </div>
                    </div>
                    <div class="row">
                        <div class="photos-div">
                        </div>
                    </div>
                    <div class="row">
                        <div class="photos-div">
                        </div>
                    </div>
                </div>
            </section>

            <div class="row">
                <hr class="hr-large">
            </div>

            <!-- Print Section -->
            <section name="notes_and_images">
                <div class="container row-container">
                    <div class="row">
                        <div class="col-4">
                            Print
                        </div>
                        <div class="col-4">
                            Excel
                        </div>
                        <div class="col-4">
                            PDF
                        </div>
                    </div>
                </div>
            </section>

            <!-- Used as a warning instead of an Alert -->
            <section name="warning-section">
                <div class="warning-div">
                    <h5 class="text-danger text-start" id="bird-qty-warning"></h5>
                </div>
            </section>
            <div class="row">
                <hr class="hr-large">
            </div>

            <div>
                <input type="hidden" name="redirect_url" value="onboard_produce"/>
                <a href="{% url 'onboard_personal' %}" class="btn button button-full-size">Previous</a> 
                <button type='submit' id="hcc-button" class="btn button button-full-size" onclick="validateQtys()">Next</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}