
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;600&family=Merriweather:wght@300;700;900&display=swap');

*,
p,
h1, h2, h3, h4, h5, h6,
.row>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100vh;
}

/*-- Sets the bottom margin to provide a uniform space between elements --*/
.bottom-margin-small,
.bottom-margin {
    padding-left: 0;
    padding-right: 0;
}
.bottom-margin {
    margin-bottom: 12px;
}
.bottom-margin-small {
    margin-bottom: 8px;
}

.container-fluid {
    position: relative;
}

/*-- COLOURS START --*/

:root {
    --green: #83952a;
    --green_bg: #ecefdf;
    --orange: #d65b3e;
    --orange_bg: #f9e6e2;
    --black: #373838;
    --white: #fefefe;
    --grey: #dee2e6;
}

/*-- COLOURS END --*/


/*-- FONTS START --*/

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h1, h2  {
    color: var(--green);
}

h3, h4, h5 {
    font-weight: 700;
    color: var(--black);
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
@media (max-width: 991px){
    h1, h2, h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 19px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
}

p {
    font-size: 16px;
    line-height: 1.25;
    color: var(--black);
}

/*-- Used to target pieces of text, such as a "More..." link --*/
span.highlight-text {
    color: var(--green);
    font-weight: 900;
}

/*-- These are p tags that display as an actual paragraph of text --*/
.paragraph-text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/*-- FONTS END --*/


/*-- CONTENT ALIGNMENT START --*/

.checkbox-label,
.add-another-btn-div,
.row-name,
.col-css,
.menu-h2,
#advanced-div,
.collapse  {
    text-align: left;
}

.content-vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

main,
.navbar-page-title,
.warning-div {
    text-align: center;
}

/*-- Centres menu when displayed at top of the page --*/
@media (min-width: 992px){
    .navbar-nav .nav-link {
        text-align: center;
    }
}

/*-- Aligns the label to the right to be beside the checkbox --*/
i,
.hcc-checkbox-label,
.col-css-right {
    text-align: right;
}

/*-- Prevents the label touching the checkbox --*/
.hcc-checkbox-label {
    padding-right: 10px;
}

/*-- Justifies paragraphs on mobile only --*/
@media (max-width: 600px){
    p {
        text-align: justify;
    }
}

/*-- CONTENT ALIGNMENT End --*/


/*-- ICONS START --*/
i {
    font-size: 30px;
}

.round-icon {
    height: 30px;
    width: 30px;
}

.non-round-icon {
    height: 35px;
    width: 35px;
}

.icon-orange {
    color: var(--orange);
}

/*-- ICONS END --*/


/*-- HR RULES START --*/

hr {
    border-top: 3px solid var(--green);
    opacity: 1;
}

hr.hr-large,
hr.hr-small {
    margin-left: auto;
    margin-right: auto;
}

.hr-large {
    width: 50%;
    min-width: 275px;
    /* margin-left: auto;
    margin-right: auto; */
}

.hr-small {
    width: 33%;
    min-width: 150px;
}

/*-- HR RULES END --*/


/*-- NAVBAR START --*/

/*-- Stops the navbar from stretching right across the page on large screens --*/
.nav-bar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
}

.navbar {
    background-color: var(--green);
    box-shadow: 0px 2px 5px var(--black);
}

/*-- Makes Menu links white and centres them when displayed at top of the page --*/
@media (min-width: 992px){
    .navbar-light .navbar-nav .nav-link {
        color: var(--white);
    }
}

/*-- Hamburger menu and logo width set to match so that the page title text is centred between them on mobile--*/
.navbar-toggler, .navbar-brand {
    border: none;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}
@media (min-width: 992px){
    .navbar-brand {
        width: 60px;
        height: 60px;
    }
}

/*-- Changes hamburger menu colour to white --*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*-- Sets width of the slide out menu --*/
.offcanvas {
    width: 250px;
}

@media (max-width: 991px){
    .navbar-nav {
        padding-left: 1rem;
    }
    .offcanvas-start {
        top: 46px;
    }
}

/*-- Images included in mobile slide out menu --*/
.nav-link-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
@media (min-width: 992px){
    .nav-link-image {
        display: none;
    }
}

/*-- Page title text that displays in Navbar when slide out menu is emplyed --*/
.row.navbar-page-div {
    width: 80%;
    margin-bottom: 0;
}

.navbar-page-title {
    margin: 0;
    color: var(--white);
}

/*-- NAVBAR END */


/*-- BOTTOM MARGIN START --*/

.text-start
 {
    padding-left: 0;
    padding-right: 0;
}

input,
.form-data select,
.form-data textarea,
.card
 {
    background-color: var(--orange_bg);
}

/*-- BOTTOM MARGIN END --*/


/*-- INPUT FIELDS START --*/
/*-- Animation of input field labels https://www.youtube.com/watch?v=JlRNGJGorsw from 10:17 onwards --*/

/*-- Facilitates positioning of the label --*/
.flock-hcc-form-data > div {
    position: relative;
    box-sizing: border-box;
}

/*-- Fields excluding labels and other text --*/
input,
.form-data select,
.form-data textarea {
    margin-top: 0;
    padding-left: 10px;
    box-sizing: border-box;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    height: 35px;
}

.form-data-modal {
    max-width: 350px;
}

/*-- Makes Checkboxes small than other field sizes --*/
input[type=checkbox] {
    height: 20px;
    width: 20px;
    accent-color: var(--orange);
}


/*-- Highlight field border when clicked on --*/
input:focus,
.form-data select:focus,
.form-data textarea:focus {
    border: 2px solid var(--black);
}

/*-- Makes input background transparent when filled by user https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete --*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/*-- Positions the "eye" icon on the right of the password field --*/
.far {
    left: 93.5%;
    top: 12px;
}

/*-- Inputs that need to look like a heading as they are read only --*/
.h-style-input {
    font-weight: 700;
    font-size: 20px;
    background-color: transparent;
}
.h-style-input,
.h-style-input:focus {
    border: hidden;
    outline: none;
}
/*-- Removes Incrementer --*/
.h-style-input::-webkit-outer-spin-button,
.h-style-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.h-style-input input[type=number] {
  -moz-appearance: textfield;
}

/*-- Relates to Inputs that need to be shown/hidden when a checkbox is checked --*/
.show-hide-input
{
    display: none;
}

/*-- INPUT FIELDS END --*/


/*-- BUTTONS START --*/
.form-data input[type=submit],
.button,
.btn {
    background-color: var(--green);
    height: 40px;
}

/*-- Keeps the button off the bottom of the screen --*/
.button-container {
    padding-bottom: 10px;
}

.add-another-btn {
    width: 110px;
    height: 25px;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--orange);
}

.form-data input[type=submit],
.button,
.btn,
.add-another-btn {
    color:var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 0px 2px 5px var(--black);
}

.button-full-size {
    width: 49.35%;
    max-width: 200px;
}

.button-small-size {
    width: 31.5%;
}

.save-button {
    background-color: var(--green);
}
.cancel-button,
.delete-button {
    background-color: var(--orange);
}

/*-- Styles the Upload Image camera icon on pages --*/
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 0;
    padding: 0;
    padding-top: 3px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--black);
}
.fileUpload:hover {
    color: var(--orange);
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*-- BUTTONS END --*/


/*-- MAIN START --*/

/*Keeps main section of the page in the centre regardless of screen size --*/
main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
}

/* Adds space at the top of the main section to allow for changes in header height*/
main {
    padding-top: 60px;
}
@media (min-width: 992px){
    main {
        padding-top: 100px;
    }
}

/* Removes the H1 from top of the page on mobile as it'll be in the navbar */
@media (max-width: 991px){
    .large-screen-h1 {
        display: none;
    }
}

/*-- MAIN END --*/


/*-- GRID START --*/

/*-- Removes margins from row elements --*/
/*-- Keeps all input fields centred on page --*/
.element-container {
    margin: auto;
    width: 100%;
    max-width: 360px;
  }

.col-css-element,
.row {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.col-css {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
}

.col-css-right,
.col-css-left {
    padding: 0;
}

.col-css > img {
    width: 35px;
}

.menu-h2 {
    color: var(--black);
    margin: 0;
}

/*-- GRID END --*/


/*-- CARDS START --*/

.card {
    border: 1px solid var(--black);
    border-radius: 5px;
}

.card-col-one,
.card-col-two {
    padding-left: 10px;
    margin-top: 2px;
}

.card-col-one p {
    font-weight: 700;
}

/*-- CARDS END --*/


/*-- Box that displays when a warning is required --*/
.warning-div {
    width: 100%;
    max-width: 360px;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 0 10px;
}

i {
    cursor: pointer;
}

.modal-title,
.modal-body {
    color: var(--black);
    padding-top: 10px;
    padding-bottom: 5px;
}

.modal-body {
    background-color: var(--green_bg);
}

/*-- 16px margin to match default padding in the modal to keep list tabbed in on the left and inline with the title --*/
.modal-body li {
    margin-left: 16px;
}

a {
    color: var(--black);
    text-decoration: none;
}

#advanced-div:hover {
    color: var(--black);
}


 /*-- Adds dynamic arrows to Advanced dropdown sections --*/
 /* Taken from: https://stackoverflow.com/questions/46777704/add-up-down-arrows-to-bootstrap-accordion --*/
 .panel-div {
    position: relative;
  }
 .panel-title::after {
    font-family: "Font Awesome 5 Free";
    content: "\f063";
    font-weight: 900;
    float: right;
    transition: all 0.5s;
    top: -2px;
    right: 0px;
    position: absolute;
  }
  .panel-title[aria-expanded="true"]::after {
    content: "\f062";
  }


/*-- AUTO-SUGGEST DROPDOWNS START --*/

/*-- Formats the dropdown box that appears beneath a field when the User begins to type into the field --*/
.auto-suggest-dropdown {
    background-color: white; 
    position: absolute; 
    display: none; 
    top: 35px; 
    z-index: 1000; 
    width: 100%; 
    max-height: 200px; 
    overflow-y: scroll;
}

/*-- Formats the contents of the dropdown box that appears beneath a field when the User begins to type into the field --*/
.auto-suggest-dropdown-content {
    padding: 1px 15px; 
    text-align: left; 
    cursor: pointer; 
    font-size: medium;
}
