
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;600&family=Merriweather:wght@300;700;900&display=swap');

*,
p,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100vh;
}

.container-fluid {
    position: relative;
}

/*-- Positions items in the centre of the page --*/
.page-centre {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-- COLOURS START --*/

:root {
    --green: #83952a;
    --green_bg: #ecefdf;
    --orange: #d65b3e;
    --orange_bg: #f9e6e2;
    --black: #373838;
    --white: #fefefe;
}

/*-- COLOURS END --*/


/*-- FONTS START --*/

p, h1, h2, h3, h4, h5 {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    text-align: center;
}

/*-- Justifies paragraphs on mobile only --*/
@media (max-width: 600px){
    p {
        text-align: justify;
    }
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: var(--green);
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
@media (max-width: 991px){
    h1, h2 {
        font-size: 20px;
    }
}

p {
    font-size: 16px;
    line-height: 1.25;
    color: var(--black);
}

/*-- Fontawesome Icons --*/
i {
    font-size: 25px;
    color: var(--orange);
    text-align: right;
    text-shadow: 0px 2px 5px var(--black);
}

/*-- FONTS END --*/


/*-- HR RULES START --*/

hr {
    border-top: 3px solid var(--green);
    opacity: 1;
    margin:auto;
}

.hr-large {
    width: 50%;
    min-width: 275px;
}

.hr-small {
    width: 33%;
    min-width: 150px;
}

/*-- HR RULES END --*/


/*-- NAVBAR START --*/

/*-- Stops the navbar from stretching right across the page on large screens --*/
.nav-bar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
}

.navbar {
    background-color: var(--green);
    box-shadow: 0px 2px 5px var(--black);
}

/*-- Makes Menu links white and centres them when displayed at top of the page --*/
@media (min-width: 992px){
    .navbar-light .navbar-nav .nav-link {
        color: var(--white);
    }
    .navbar-nav .nav-link {
        text-align: center;
    }
}

/*-- Hamburger menu and logo width set to match so that the page title text is centred between them on mobile--*/
.navbar-toggler, .navbar-brand {
    border: none;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}
@media (min-width: 992px){
    .navbar-brand {
        width: 60px;
        height: 60px;
    }
}

/*-- Changes hamburger menu colour to white --*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*-- Sets width of the slide out menu --*/
.offcanvas {
    width: 250px;
}

@media (max-width: 991px){
    .navbar-nav {
        padding-left: 1rem;
    }
    .offcanvas-start {
        top: 46px;
    }
}

/*-- Images included in mobile slide out menu --*/
.nav-link-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
@media (min-width: 992px){
    .nav-link-image {
        display: none;
    }
}

/*-- Page title text that displays in Navbar when slide out menu is emplyed --*/
.navbar-page-title {
    margin: 0;
    color: var(--white);
}

/*-- NAVBAR END */

/*-- BOTTOM MARGIN START --*/

.row
 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

.text-start
 {
    padding-left: 0;
    padding-right: 0;
}

input,
.form-data select,
.form-data textarea
 {
    background-color: var(--orange_bg);
}


/*-- INPUT FIELDS START --*/
/*-- Animation of input field labels https://www.youtube.com/watch?v=JlRNGJGorsw from 10:17 onwards --*/

/*-- Keeps all input fields centred on page --*/
.form-container,
.menu-row {
    margin: auto;
    width: 100%;
    max-width: 360px;
  }

/*-- Facilitates positioning of the label --*/
.form-data > div {
    position: relative;
    box-sizing: border-box;
}

/*-- Fields excluding labels and other text --*/
input,
.form-data select,
.form-data textarea {
    margin-top: 0;
    padding-left: 10px;
    box-sizing: border-box;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    height: 35px;
}

/*-- Makes Checkboxes small than other field sizes --*/
input[type=checkbox] {
    height: 20px;
    width: 20px;
}

/*-- Centres the elements in the row --*/
.col-css {
    margin-top: auto;
    margin-bottom: auto;
}

/*-- Removes margins from row elements --*/
.col-css-element,
.row {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}



/*-- Aligns the name of the row to the left --*/
.row-name {
    text-align: left;
}

.checkbox-label {
    text-align: left;
}

/*-- ALigns the label to the right to be beside the checkbox in the hcc section --*/
.hcc-checkbox-label {
    text-align: right;
}

/*-- Field label prior to field being clicked on --*/
input + label,
.form-data select + label,
.form-data textarea + label,
.far {
    position: absolute;
    font-size: 16px;
    color: var(--black);
}

/*-- Field label prior to field being clicked on. It's an extension of above --*/
.form-data input + label,
.form-data select + label,
.form-data textarea + label {
    left: 10px;
    top: 9px;
}

/*-- Field label after field has been clicked on --*/
.form-data input:not(:placeholder-shown) + label, 
.form-data input:focus + label,
.form-data select:not(:placeholder-shown) + label, 
.form-data select:focus + label,
.form-data textarea:not(:placeholder-shown) + label, 
.form-data textarea:focus + label {
    font-size: 12px;
    top: -10px;
    background-color: var(--white);
    color: var(--black);
}

/*-- Highlight field border when clicked on --*/
input:focus,
.form-data select:focus,
.form-data textarea:focus {
    border: 2px solid var(--black);
}

/*-- Makes input background transparent when filled by user https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete --*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/*-- Positions the "eye" icon on the right of the password field --*/
.far {
    left: 93.5%;
    top: 12px;
}

/*-- INPUT FIELDS END --*/

/*-- BUTTONS START --*/
.form-data input[type=submit],
.button,
.btn {
    background-color: var(--green);
    height: 40px;
}

.add-another-btn-div {
    text-align: left;
}

.add-another-btn {
    width: 110px;
    height: 25px;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--orange);
}

.form-data input[type=submit],
.button,
.btn,
.add-another-btn {
    color:var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 0px 2px 5px var(--black);
}

.button-full-size {
    width: 47.5%;
    max-width: 200px;
}

.button-small-size {
    width: 31.5%;
}

/*-- BUTTONS END --*/


/*-- MAIN START --*/

/*Keeps main section of the page in the centre regardless of screen size --*/
main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

/* Adds space at the top of the main section to allow for changes in header height*/
main {
    padding-top: 65px;
}
@media (min-width: 992px){
    main {
        padding-top: 100px;
    }
}

/* Removes the H1 from top of the page on mobile as it'll be in the navbar */
@media (max-width: 991px){
    .large-screen-h1 {
        display: none;
    }
}

/*-- MAIN END --*/


/*-- GRID START --*/

.col-css {
    padding-left: 0;
    padding-right: 10px;
    text-align: left;
}

.col-css-right {
    padding: 0;
    text-align: right;
}

.col-css-left {
    padding: 0;
    text-align: left;
}

.col-css > img {
    width: 35px;
}

.menu-h2 {
    color: var(--black);
    text-align: left;
    margin: 0;
}



/*-- GRID END --*/

/*-- Box that displays when a warning is required --*/
.warning-div {
    width: 100%;
    max-width: 360px;
    background-color: var(--white);
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

i {
    cursor: pointer;
}

.modal-title,
.modal-body {
    color: var(--black);
    padding-top: 10px;
    padding-bottom: 5px;
}

.modal-body {
    background-color: var(--green_bg);
}


a {
    text-decoration: none;
}