body {
    background-color: var(--green_bg);
}

.container {
    padding: 0;
}

.row {
    width: 100%;
    margin-top: 0;
    flex-wrap: nowrap;
}

.col-2 {
    padding: 0;
}

.col-css > img {
    height: 40px;
    width: 40px;
}

h2 {
    font-size: 20px;
}

/*-- INPUT FIELDS START --*/

.container {
    padding: 0;
}

.form-data input[type=checkbox] {
    margin-top: 3px;
}

/*-- Hides the floating field labels and the "All" Checkbox in the HCC rows */
label,
.hcc-checkbox-label,
.hcc-checkbox {
    display: none;
}

/*-- INPUT FIELDS END --*/


.photos-div{
    border: black 2px solid;
    height: 50px;
    max-width: 100%;
    flex: 1;
}
