/*-- CSS to make the labels float within the input border whenever the User adds to the field --*/

/*-- For dropdowns/select inputs, we need some JS. In Main JS we have: function displaySelectLabel(id) --*/

/*-- Field label prior to field being clicked on --*/
/*-- This affects input_label_float --*/
input + label,
.form-data select + label,
.form-data textarea + label {
    position: absolute;
    font-size: 16px;
    color: var(--black);
    left: 14px;
    top: 6px;
}


/*-- Makes the input relative so that the label can correctly float in the input border when clicked --*/
.label-float {
    position: relative;
}

/*-- Hides label but only used on Select/Dropdown Inputs --*/
.hide-label {
    display: none;
}


/*-- Field label prior to field being clicked on --*/
.form-data input::placeholder,
.form-data select::placeholder, 
.form-data textarea::placeholder {
    color: transparent;
}

/*-- Field label after field has been clicked on --*/
.form-data input:not(:placeholder-shown) + label,
.form-data input:focus + label,
.form-data select:not(:placeholder-shown) + label, 
.form-data select:focus + label,
.form-data textarea:not(:placeholder-shown) + label, 
.form-data textarea:focus + label {
    font-size: 12px;
    top: -9px;
    left: 8px;
    background-color: var(--orange_bg);
    color: var(--black);
    font-weight: 700;
    padding: 0 5px;
}

.hidden-label {
    display: none;
}