/*-- Applies to home page and onboarding only so needs to be moved from here --*/
body {
    background: url(../images/chicken.jpg);
    background-size: cover;
    background-position: center;
}

video {
    width: 100%;
    max-width: 600px;
}

hr {
    border-color: var(--white);
}

/*-- FONTS START --*/

h1, h2, h3, h4, h5, h6, p {
    color: var(--white);
}

/*-- FONTS END --*/


/*-- INPUT FIELDS START --*/

.container {
    padding: 0;
}

/*-- Hides the floating field labels and the "All" Checkbox in the HCC rows --*/
label,
.hcc-checkbox-label,
.hcc-checkbox {
    display: none;
}

/*-- Centres the checkbox vertically in the row --*/
.form-data input[type=checkbox] {
    margin-top: 4px;
}

/*-- Inputs that need to look like a heading as they are read only --*/
.h-style-input {
    color: var(--white);
}

/*-- INPUT FIELDS END --*/

i {
    text-shadow: 0px 2px 5px var(--black);
}