{% extends "base.html" %}
 
<div class="large-screen-h1">
    <h1>Backyard Chicken Manager</h1>
    <hr class="hr-large">
  </div>
  
  <p>
    Whether you keep chickens and poultry as a hobby or have a farming business, 
    Backyard Chicken Manager makes keeping track of your birds easy.
  </p>
  
  <video autoplay controls>
    <source src="url(../videos/2022-02-04-1935-19.mp4)" type="video/mp4">
    Your browser doesn't support mp4 videos. Change browser.
  </video>
  
  <hr class="hr-large">
  <h2>About</h2>
  <p>Find out how my 9 year old son's desire to have a car when he turns 17 led to tears, tantrums and
    ultimately the development of the Backyard Chicken Manager app. <a href="">More...</a></p>
  <hr class="hr-large">

{% block content %}

<div class="allauth-form-inner-content">
    {% block inner_content %}
    {% endblock %}
</div>
{% endblock %}
