{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/onboarding.css' %}" />
{% endblock %}

{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block nav_page_title %}
    Reset Your Password
{% endblock %}

{% block content %}

<div class="page-centre">
    <div class="large-screen-h1">
      <h1>Reset Your Password</h1>
      <hr class="hr-large">
    </div>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="paragraph-text bottom-margin">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <div class="element-container">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <div class="bottom-margin">
                {{ form }}
            </div>
            <div class="form-data bottom-margin">
                <div>
                    <button class="primaryAction button button-full-size" type="submit">{% trans 'Reset My Password' %}</button>
                    <!-- <input type="submit" value="{% trans 'Reset My Password' %}" class="button button-full-size" /> -->
                </div>
            </div>
        </form>
    </div>
    <p>
        {% blocktrans %} Please 
        <a href=""><span class="highlight-text">Contact Us</span></a> 
        if you have any trouble resetting your password. {% endblocktrans %}
    </p>
</div>
{% endblock %}
