{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/onboarding.css' %}" />
{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
    <div class="row bottom-margin">
        <h2>Sign Up</h2>
    </div>
    <div class="element-container">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <div class="bottom-margin">
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            </div>
            {% endif %}
            <div class="bottom-margin">
                {{ form.email }}
            </div>
            <div class="bottom-margin">
                {{ form.password1 }}
            </div>
            <div class="form-data bottom-margin">
                <button type="submit" class="button button-full-size">{% trans "Sign Up" %} &raquo;</button>
            </div>
            <div class="bottom-margin">
                <p>{% blocktrans %}Already have an account?<a href="{{ login_url }}"><span class="highlight-text">Sign In Here</span></a>.{% endblocktrans %}</p>
            </div>
        </form>
    </div>
{% endblock %}