{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sub_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signed_in_user_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/input_label_float.css' %}" />
    <link rel="stylesheet" href="{% static '././regular_tasks/css/regular_tasks.css' %}" />
    <link rel="stylesheet" href="{% static 'regular_tasks/css/sales_and_income.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Egg Sales - Deliveries
{% endblock %}

{% block sub-nav %}
{% endblock %}

{% block content %}

<!-- Sub Navigation Section -->
<div class="element-container container-fluid sub-nav-container">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'egg_roadside_sales' %}">
                <img src="{{ MEDIA_URL }}sales_roadside.png" alt="Egg Sales Roadside Icon" class="nav-link-image sub-nav-link-image">
                Roadside
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'egg_collection_sales' %}">
                <img src="{{ MEDIA_URL }}sales_collections.png" alt="Egg Sales Collections Icon" class="nav-link-image sub-nav-link-image">
                Collections
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link active" href="{% url 'egg_delivery_sales_dashboard' %}">
                <img src="{{ MEDIA_URL }}sales_deliveries.png" alt="Egg Sales Deliveries Icon" class="nav-link-image sub-nav-link-image">
                Deliveries
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'egg_market_sales' %}">
                <img src="{{ MEDIA_URL }}sales_markets.png" alt="Egg Sales Markets Icon" class="nav-link-image sub-nav-link-image">
                Markets
            </a>
        </li>
    </ul>
</div>

<!-- Page Name - Non-Mobile -->
{% include 'html_includes/page_name_non_mobile.html' with page_name="Delivery Sales" %}

<!-- Icons and Links Section -->
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle icon-orange" data-bs-toggle="modal" data-bs-target="#myModal"></i>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}reports_income.png" alt="Income reports icon" class="non-round-icon"></a>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}profile_and_setting_settings.png" alt="Profile and Settings icon" class="non-round-icon"></a>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- FORM SECTION  -->
<div class="element-container">
    <form method="POST" action="{% url 'egg_delivery_sales' %}" enctype="multipart/form-data" name="egg_delivery_sales" id="submit-form" autocomplete="off">
        {% csrf_token %}
        
        <div class="form-data">
            <!-- Prevents Chrome and Firefox from offering autofill on fields. 
                 Required because on many fields we provide our own auto-suggest and it looks messy and confusing.
                 It requires autocomplete="off" in the above form in order to work. 
                 Taken from: https://gist.github.com/niksumeiko/360164708c3b326bd1c8 where there are other solutions too -->
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            <!-- Sale Date Section -->
            {% include 'html_includes/date.html' %}
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Egg Sale Section -->
            <section name="flock-core-info">
                <a href="">
                    <h4>{{ form.customer_name_eggs_delivery }}</h4>
                </a>
                <!-- Normal Order Qty -->
                <div class="row bottom-margin">
                    <div class="col-10 col-css">
                        <h6 class="row-name">Normal Order Qty:</h6>
                    </div>
                    <div class="col-2 col-css col-css-right label-float">
                        {{ form.normal_order_qty_eggs_delivery }}
                        <label for="normal-order-qty-eggs-delivery" class="hidden-label">Normal Order Qty</label>
                    </div>
                </div>
                <!-- Delivery Due Date -->
                <div class="row bottom-margin">
                    <div class="col-7 col-css">
                        <h6 class="row-name">Delivery Due Date:</h6>
                    </div>
                    <div class="col-5 col-css col-css-right label-float">
                        {{ form.delivery_due_date }}
                        <label for="delivery-due-date" class="hidden-label">Delivery Due Date</label>
                    </div>
                </div>
                <!-- Delivery Not Made -->
                <div class="row bottom-margin">
                    <div class="col-10 col-css">
                        <h6 class="row-name">Delivery Not Made</h6>
                    </div>  
                    <div class="col-2 col-css col-css-right label-float">
                        {{ form.delivery_not_made }}
                        <label for="delivery-not-made" class="hidden-label">Delivery Not Made</label>
                    </div>
                </div>

                <div class="bottom-margin label-float show-on-click">
                    {{ form.delivery_not_made_reason }}
                    <label for="delivery-not-made-reason">Delivery Not Made Reason</label>
                </div>
                <div class="bottom-margin label-float">
                    {{ form.qty_sold_eggs_delivery }}
                    <label for="qty-sold-eggs-delivery">Qty of Eggs Sold</label>
                </div>
                <div class="bottom-margin label-float">
                    {{ form.qty_given_free_eggs_delivery }}
                    <label for="qty-given-free-eggs-delivery">Qty of Eggs Given Free</label>
                </div>
                <!-- Sale Amount -->
                <div class="row bottom-margin">
                    <div class="col-10 col-css">
                        <h6 class="row-name">Sale Amount:</h6>
                    </div>
                    <div class="col-2 col-css col-css-right label-float">
                        {{ form.sale_amount_eggs_delivery }}
                        <label for="sale-amount-eggs-delivery" class="hidden-label">Sale Amount</label>
                    </div>
                </div>

                <div class="bottom-margin label-float">
                    {{ form.amount_paid_eggs_delivery }}
                    <label for="amount-paid-eggs-delivery">Amount Paid</label>
                </div>

                <!-- Balance Owed -->
                <div class="row bottom-margin">
                    <div class="col-10 col-css">
                        <h6 class="row-name">Balance Owed:</h6>
                    </div>
                    <div class="col-2 col-css col-css-right label-float">
                        {{ form.balance_owed_eggs_delivery}}
                        <label for="balance-owed-eggs-delivery" class="hidden-label">Balance Owed</label>
                    </div>
                </div>

            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Notes & Images Section -->
            {% include 'html_includes/notes_and_pics.html' %}

            <!-- Used as a warning instead of an Alert -->
            {% include 'html_includes/validation_warning.html' %}

            <!-- Buttons Section -->
            <div class="button-container">
                <input type="hidden" name="redirect_url" value="onboard_sales"/>
                <button type='submit' id="save-button" class="btn button button-full-size save-button">Save</button> 
                <button id="cancel-button" class="btn button button-full-size cancel-button">Cancel</button>
            </div>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'regular_tasks/js/regular_tasks.js' %}"></script>
{% endblock %}