{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sub_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signed_in_user_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/input_label_float.css' %}" />
    <link rel="stylesheet" href="{% static '././regular_tasks/css/regular_tasks.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'regular_tasks/css/sales_and_income.css' %}" /> -->
{% endblock %}

{% block nav_page_title %}
    Egg Sales - Roadside
{% endblock %}

{% block sub-nav %}
{% endblock %}

{% block content %}

<!-- Page Set-up Modal when User lands on page for first time or until required data is supplied -->
<div class="modal" id="page-setup-modal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Roadside Egg Sales - Set-up Instructions</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-start modal-body"><span class="fw-bold">IMPORTANT!</span> The first time you record a feed,
                                                                       it is vital that you state the total amount of food and water
                                                                       in the feeders. For subsequent feeds, please indicate
                                                                       the amount of food and water remaining in the feeders after the last
                                                                       feed and the amount added. This allows us to calculate the
                                                                       average amount of food and water consumed by each bird which can be
                                                                       viewed in the "Reports" section.</p>
                <input type="text" placeholder="test" id="test">
                <label for="test">Test Label</label>
                <ul class="text-start">
                    <li><span class="fw-bold">Date:</span> Add the date.</li>
                    <li><span class="fw-bold">Save Button:</span> Click this button when finished.</li>
                    <li><span class="fw-bold">Cancel Button:</span> Click this button to clear all data entered.</li>
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Save</button>
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Sub Navigation Section -->
<div class="element-container container-fluid sub-nav-container">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link active" href="{% url 'egg_roadside_sales' %}">
                <img src="{{ MEDIA_URL }}sales_roadside.png" alt="Egg Sales Roadside Icon" class="nav-link-image sub-nav-link-image">
                Roadside
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'egg_collection_sales' %}">
                <img src="{{ MEDIA_URL }}sales_collections.png" alt="Egg Sales Collections Icon" class="nav-link-image sub-nav-link-image">
                Collections
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'egg_delivery_sales_dashboard' %}">
                <img src="{{ MEDIA_URL }}sales_deliveries.png" alt="Egg Sales Deliveries Icon" class="nav-link-image sub-nav-link-image">
                Deliveries
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'egg_market_sales' %}">
                <img src="{{ MEDIA_URL }}sales_markets.png" alt="Egg Sales Markets Icon" class="nav-link-image sub-nav-link-image">
                Markets
            </a>
        </li>
    </ul>
</div>

<!-- Page Name - Non-Mobile -->
{% include 'html_includes/page_name_non_mobile.html' with page_name="Roadside Sales" %}

<!-- Icons and Links Section -->
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle icon-orange" data-bs-toggle="modal" data-bs-target="#myModal"></i>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}reports_income.png" alt="Income reports icon" class="non-round-icon"></a>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}profile_and_setting_settings.png" alt="Profile and Settings icon" class="non-round-icon"></a>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- "i" icon modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Roadside Egg Sales - Page Instructions</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-start modal-body">Each time you add eggs to your collection point complete this page.</p>
                <p class="text-start modal-body"><span class="fw-bold">IMPORTANT!</span> The first time you record a feed,
                                                                       it is vital that you state the total amount of food and water
                                                                       in the feeders. For subsequent feeds, please indicate
                                                                       the amount of food and water remaining in the feeders after the last
                                                                       feed and the amount added. This allows us to calculate the
                                                                       average amount of food and water consumed by each bird which can be
                                                                       viewed in the "Reports" section.</p>
                <input type="text" placeholder="test" id="test">
                <label for="test">Test Label</label>
                <ul class="text-start">
                    <li><span class="fw-bold">Date:</span> Add the date.</li>
                    <li><span class="fw-bold">Pricing:</span> Click on the arrow to display the pricing fields.
                                                              Then add the prices that you sell each quantity at.
                                                              Only add prices for the quantities you sell.</li>
                    <li><span class="fw-bold">Qty of Eggs in Stock:</span> This is the quantity of </li>
                    <li><span class="fw-bold">Qty of Eggs Remaining:</span> Amount of feed remaining in the feeder prior to adding more.</li>
                    <li><span class="fw-bold">Qty of Eggs Added:</span> Amount of food added to the feeder.</li>
                    <li><span class="fw-bold">Amount Collected:</span> Amount of water remaining in the feeder prior to adding more.</li>
                    <li><span class="fw-bold">Breakages & Loses:</span> If you have broken or damaged any eggs, making them unsaleable,
                                                                        record the quantity here.</li>
                    <li><span class="fw-bold">Notes:</span> If you have any notes about the top up of your collection point, add them here.</li>
                    <li><span class="fw-bold">Photos:</span> If you have any photos from the top up of your collection point, upload them here.</li>
                    <li><span class="fw-bold">Save Button:</span> Click this button when finished.</li>
                    <li><span class="fw-bold">Cancel Button:</span> Click this button to clear all data entered.</li>
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- FORM SECTION  -->
<div class="element-container">
    <!--  enctype="multipart/form-data" allows for the addition of images in the form. https://docs.djangoproject.com/en/4.0/topics/http/file-uploads/ -->
    <form method="POST" action="{% url 'egg_roadside_sales' %}" enctype="multipart/form-data" name="egg_roadside_sales" id="submit-form" autocomplete="off">
        {% csrf_token %}
        
        <div class="form-data">
            <!-- Prevents Chrome and Firefox from offering autofill on fields. 
                 Required because on many fields we provide our own auto-suggest and it looks messy and confusing.
                 It requires autocomplete="off" in the above form in order to work. 
                 Taken from: https://gist.github.com/niksumeiko/360164708c3b326bd1c8 where there are other solutions too -->
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            <!-- Sale Date Section -->
            {% include 'html_includes/date.html' %}
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Egg Prices Section -->
            <section name="flock-core-info">
                <div class="bottom-margin panel-div label-float">
                    <a class="bottom-margin panel-title" id="advanced-div" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h4>Pricing (Click on me)</h4>
                    </a>
                </div>
                <div class="collapse in" id="collapseExample">
                    <div class="bottom-margin label-float">
                        {{ pricing_form.single_egg_price }}
                        <label for="single-egg-price">Single Eggs Price</label>
                    </div>
                    <div class="bottom-margin label-float">
                        {{ pricing_form.half_dozen_eggs_price }}
                        <label for="half-dozen-eggs-price">Half Dozen Eggs Price</label>
                    </div>
                    <div class="bottom-margin label-float">
                        {{ pricing_form.ten_eggs_price }}
                        <label for="ten-eggs-price">10 Eggs Price</label>
                    </div>
                    <div class="bottom-margin label-float">
                        {{ pricing_form.dozen_eggs_price }}
                        <label for="dozen-eggs-price">Dozen Eggs Price</label>
                    </div>
                    <div class="bottom-margin label-float">
                        {{ pricing_form.trays_of_eggs_price }}
                        <label for="trays-of-eggs-price">Tray of Eggs Price</label>
                    </div>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Egg Sales & Stock Section -->
            <section name="flock-core-info">
                <div class="bottom-margin label-float">
                    <h4>Sales & Stocks</h4>
                </div>
                <!-- Single Eggs -->
                <div class="single_egg_price">
                    <div class="bottom-margin label-float">
                        {{ sales_form.qty_single_eggs_remaining }}
                        <label for="qty-single-eggs-remaining">Qty of Single Eggs Remaining</label>
                    </div>
                    <div class="bottom-margin label-float">
                        {{ sales_form.qty_single_eggs_added }}
                        <label for="qty-single-eggs-added">Qty of Single Eggs Added</label>
                    </div>
                    <div class="bottom-margin label-float">
                        {{ sales_form.qty_single_eggs_in_stock }}
                        <label for="qty-single-eggs-in-stock">Qty of Single Eggs In Stock</label>
                    </div>
                </div>
                
                <!-- Half dozen -->
                <div class="half_dozen_eggs_price">
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_half_dozen_egg_boxes_remaining }}
                            <label for="qty-half-dozen-egg-boxes-remaining">Qty of Half Dozens Remaining</label>
                        </div>
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_half_dozen_egg_boxes_added }}
                            <label for="qty-half-dozen-egg-boxes-added">Qty of Half Dozens Added</label>
                        </div>
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_half_dozen_egg_boxes_in_stock }}
                            <label for="qty-half-dozen-egg-boxes-in-stock">Qty of Half Dozens In Stock</label>
                        </div>
                </div>
                <!-- Tens -->
                <div class="ten_eggs_price">
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_ten_egg_boxes_remaining }}
                            <label for="qty-ten-egg-boxes-remaining">Qty of 10's Remaining</label>
                        </div>
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_ten_egg_boxes_added}}
                            <label for="qty-ten-egg-boxes-added">Qty of 10's Added</label>
                        </div>
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_ten_egg_boxes_in_stock }}
                            <label for="qty-ten-egg-boxes-in-stock">Qty of 10's In Stock</label>
                        </div>
                </div>
                <!-- Dozen -->
                <div class="dozen_eggs_price">
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_dozen_egg_boxes_remaining }}
                            <label for="qty-dozen-egg-boxes-remaining">Qty of Dozens Remaining</label>
                        </div>
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_dozen_egg_boxes_added }}
                            <label for="qty-dozen-egg-boxes-added">Qty of Dozens Added</label>
                        </div>
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_dozen_egg_boxes_in_stock }}
                            <label for="qty-dozen-egg-boxes-in-stock">Qty of Dozens In Stock</label>
                        </div>
                </div>
                <!-- Trays -->
                <div class="trays_of_eggs_price">
                    <div class="bottom-margin label-float">
                        {{ sales_form.qty_trays_eggs_remaining }}
                        <label for="qty-trays-of-eggs-remaining">Qty of Trays Remaining</label>
                    </div>
                    <div class="bottom-margin label-float">
                        {{ sales_form.qty_trays_eggs_added }}
                        <label for="qty-trays-of-eggs-added">Qty of Trays Added</label>
                    </div>
                        <div class="bottom-margin label-float">
                            {{ sales_form.qty_trays_eggs_in_stock }}
                            <label for="qty-trays-of-eggs-in-stock">Qty of Trays In Stock</label>
                        </div>
                </div>
                <!-- Amount Paid -->
                <div class="bottom-margin label-float">
                    {{ sales_form.income }}
                    <label for="amount-paid-eggs-roadside">€ Amount Collected</label>
                </div>
                <!-- Total Selling Value of Eggs Sold -->
                <div class="row bottom-margin">
                    <div class="col-10 col-css">
                        <h6 class="row-name">Value of Eggs Sold: €<span id="eggs-sold-value">0</span></h6>
                    </div>
                </div>
                <!-- Difference Between Value of Eggs Sold and Money Received -->
                <div class="row bottom-margin">
                    <div class="col-10 col-css">
                        <h6 class="row-name">Difference Between Egg Sales and Amount Collected: €<span id="income-deficit">0</span></h6>
                    </div>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Egg Breakages or Loses Section -->
            <section name="flock-core-info">
                <div class="bottom-margin label-float">
                    <h4>Breakages & Losses</h4>
                </div>
                <div class="bottom-margin label-float">
                    {{ sales_form.losses_eggs_roadside }}
                    <label for="loses-eggs-roadside">Qty of Eggs Broken, Stolen or Lost</label>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Notes & Images Section -->
            <section name="notes_and_images">
                <div class="container element-container">
                    <div class="row">
                        <div class="col-10 form-data textarea-col">
                            <div class="label-float">
                                {{ sales_form.notes }}
                                <label for="egg-collection-notes">Notes</label>
                            </div>
                        </div>
                        <div class="col-2 col-css-right">
                            <div class="fileUpload btn">
                                    {{ sales_form.images }}
                                    <i class="fas fa-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
            
                    </div>
                </div>
            </section>

            <!-- Used as a warning instead of an Alert -->
            {% include 'html_includes/validation_warning.html' %}

            <!-- Buttons Section -->
            <div class="button-container">
                <button type='submit' id="save-button" class="btn button button-full-size save-button">Save</button> 
                <button id="cancel-button" class="btn button button-full-size cancel-button">Cancel</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'sales_and_income/js/roadside_sales.js' %}"></script>
{% endblock %}