{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sub_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signed_in_user_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/input_label_float.css' %}" />
    <link rel="stylesheet" href="{% static 'regular_tasks/css/regular_tasks.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Coop Cleaning
{% endblock %}

{% block sub-nav %}
{% endblock %}

{% block content %}

<!-- Sub Navigation Section -->
<div class="element-container container-fluid sub-nav-container">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'egg_collection' %}"> 
                <img src="{{ MEDIA_URL }}reg_task_egg_collection.png" alt="Regular Tasks, Egg Collection Icon" class="nav-link-image sub-nav-link-image">
                Collecting
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'feeding_time' %}">
                <img src="{{ MEDIA_URL }}reg_task_feeding_time.png" alt="Regular Tasks, Feeding Time Icon" class="nav-link-image sub-nav-link-image">
                Feeding
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'watering_time' %}">
                <img src="{{ MEDIA_URL }}reg_task_water.png" alt="Regular Tasks, Watering Time Icon" class="nav-link-image sub-nav-link-image">
                Watering
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link active" href="{% url 'coop_cleaning' %}">
                <img src="{{ MEDIA_URL }}reg_task_coop_cleaning.png" alt="Regular Tasks, Coop Cleaning Icon" class="nav-link-image sub-nav-link-image">
                Cleaning
            </a>
        </li>
    </ul>
</div>

<!-- Page Name - Non-Mobile -->
{% include 'html_includes/page_name_non_mobile.html' with page_name="Coop Cleaning" %}

<!-- Icons and Links Section -->
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle icon-orange" data-bs-toggle="modal" data-bs-target="#myModal"></i>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}reports_coop_management.png" alt="Food & water reports icon" class="non-round-icon"></a>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}profile_and_setting.png" alt="settings & profile icon" class="non-round-icon"></a>
        </div>
        <div class="col-6 col-css">
            <a href=""><img src="{{ MEDIA_URL }}coop_manag.png" alt="Coop management icon" class="non-round-icon"></a>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- "i" icon modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Coop Cleaning - Page Instructions</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-start modal-body">Each time you clean your coops, complete this page. If you have several coops,
                    you need to complete a seperate page for each one.
                </p>
                <ul class="text-start">
                    <li><span class="fw-bold">Date:</span> Click on the calendar icon to add the cleaning date.</li>
                    <li><span class="fw-bold">Select Coop:</span> Select the coop being cleaned (only displays if you have multiple coops).</li>
                    <li><span class="fw-bold">Disinfected?:</span> Check this box if you disinfected the coop during cleaning.</li>
                    <li><span class="fw-bold">Disinfectant Name:</span> Add the name of the disinfectant you used.</li>
                    <li><span class="fw-bold">Notes:</span> If you have any notes about the cleaning, add them here.</li>
                    <li><span class="fw-bold">Photos:</span> If you have any photos from the coop cleaning, upload them here.</li>
                    <li><span class="fw-bold">Save Button:</span> Click this button when finished.</li>
                    <li><span class="fw-bold">Cancel Button:</span> Click this button to clear all data entered.</li>
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- MAIN SECTION  -->
<div class="element-container">
    <form method="POST" action="{% url 'coop_cleaning' %}" enctype="multipart/form-data" name="coop_cleaning" autocomplete="off">
        {% csrf_token %}
        <div class="form-data">
            <!-- Prevents Chrome and Forefox from offering autofill on fields. 
                 Required because on many fields we provide our own auto-suggest and it looks messy and confusing.
                 It requires autocomplete="off" in the form above to work. 
                 Taken from: https://gist.github.com/niksumeiko/360164708c3b326bd1c8 where there are other solutions too -->
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            {% include 'html_includes/date.html' %}
            {% include 'html_includes/coop.html' %}

            <div class="row bottom-margin" id="disinfected-row">
                <div class="col-11 col-css">
                    <h5 class="col-css-element checkbox-label">Disinfected?</h5>
                </div>
                <div class="col-1 col-css col-css-right">
                    {{ form.disinfected }}
                </div>
            </div>
            <!-- Disinfectant Type -->
            <div style="position: relative;">
                <div class="bottom-margin label-float show-on-click">
                    {{ form.disinfectant_name }}
                    <label id="disinfectant-type-label" for="disinfectant-name">Disinfectant Name</label>
                </div>
                <!-- This div is the dropdown that displays when the User adds a letter, or string of, that have a match in the disinfectants types in the db -->
                <div class="auto-suggest-dropdown" id="disinfectant-suggestions-list">
                </div>
            </div>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Notes & Images Section -->
            {% include 'html_includes/notes_and_pics.html' %}

            <!-- Used as a warning instead of an Alert -->
            <section name="warning-section">
                <div class="warning-div">
                    <h5 class="text-danger text-start" id="warning-section-text"></h5>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <div class="button-container">
                <button id="save-button" class="btn button button-full-size save-button" onclick="">Save</button> 
                <button id="cancel-button" class="btn button button-full-size cancel-button">Cancel</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'regular_tasks/js/regular_tasks_coop_cleaning.js' %}"></script>
{% endblock %}
