{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sub_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/regular_tasks.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Coop Cleaning
{% endblock %}

{% block sub-nav %}
{% endblock %}

{% block content %}

<div class="element-container container-fluid sub-nav-container">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'regular_tasks' %}"> 
                <img src="{{ MEDIA_URL }}reg_task_egg_collection.png" alt="Regular Tasks, Egg Collection Icon" class="nav-link-image sub-nav-link-image">
                Egg Collection
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'feeding_time' %}">
                <img src="{{ MEDIA_URL }}reg_task_feeding_time.png" alt="Regular Tasks, Feeding Time Icon" class="nav-link-image sub-nav-link-image">
                Feeding Time
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link active" href="{% url 'coop_cleaning' %}">
                <img src="{{ MEDIA_URL }}reg_task_coop_cleaning.png" alt="Regular Tasks, Coop Cleaning Icon" class="nav-link-image sub-nav-link-image">
                Coop Cleaning
            </a>
        </li>
    </ul>
</div>

<div class="large-screen-h1">
    <div class="bottom-margin">
        <h1>Coop Cleaning</h1>
    </div>
    <div class="bottom-margin">
        <hr class="hr-large">
    </div>
</div>

<!-- Icons and Links Section -->
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle icon-orange"></i>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}reports_coop_management.png" alt="Food & water reports icon" class="non-round-icon"></a>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}profile_and_setting.png" alt="settings & profile icon" class="non-round-icon"></a>
        </div>
        <div class="col-6 col-css">
            <a href=""><img src="{{ MEDIA_URL }}coop_manag.png" alt="Coop management icon" class="non-round-icon"></a>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- MAIN SECTION  -->
<div class="element-container">
    <form method="POST" action="{% url 'get_onboarding_data' %}" name="hcc-form">
        {% csrf_token %}
        <div class="form-data">

            {% include 'html_includes/date_flock.html' %}

            <div class="row bottom-margin" id="disinfected-row">
                <div class="col-11 col-css">
                    <h6 class="col-css-element checkbox-label">Disinfected?</h6>
                </div>
                <div class="col-1 col-css col-css-right">
                    <input type="checkbox" name="disinfected-check" id="disinfected-check" class="col-css-element">
                </div>
            </div>

            <div class="bottom-margin checkbox-display-hide-div" name="checkbox-display-hide-div">
                <input type="text" name="disinfectant_name" placeholder="Disinfectant Name" id="disinfectant_name" required>
            </div>

            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Notes & Images Section -->
            {% include 'html_includes/notes_and_pics.html' %}

            <!-- Used as a warning instead of an Alert -->
            <section name="warning-section">
                <div class="warning-div">
                    <h5 class="text-danger text-start" id="bird-qty-warning"></h5>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <div class="button-container">
                <input type="hidden" name="redirect_url" value="onboard_produce"/>
                <button id="save-button" class="btn button button-full-size save-button" onclick="validateQtys()">Save</button> 
                <button type='submit' id="cancel-button" class="btn button button-full-size cancel-button" onclick="validateQtys()">Cancel</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}