{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sub_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signed_in_user_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/input_label_float.css' %}" />
    <link rel="stylesheet" href="{% static '././regular_tasks/css/regular_tasks.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Egg Collection
{% endblock %}

{% block sub-nav %}
{% endblock %}

{% block content %}

<!-- Sub Navigation Section -->
<div class="element-container container-fluid sub-nav-container">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link active" href="{% url 'egg_collection' %}">
                <img src="{{ MEDIA_URL }}reg_task_egg_collection.png" alt="Regular Tasks, Egg Collection Icon" class="nav-link-image sub-nav-link-image">
                Egg Collection
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'feeding_time' %}">
                <img src="{{ MEDIA_URL }}reg_task_feeding_time.png" alt="Regular Tasks, Feeding Time Icon" class="nav-link-image sub-nav-link-image">
                Feeding Time
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'coop_cleaning' %}">
                <img src="{{ MEDIA_URL }}reg_task_coop_cleaning.png" alt="Regular Tasks, Coop Cleaning Icon" class="nav-link-image sub-nav-link-image">
                Coop Cleaning
            </a>
        </li>
    </ul>
</div>

<!-- Page Name - Non-Mobile -->
{% include 'html_includes/page_name_non_mobile.html' with page_name="Egg Collection" %}

<!-- Icons and Links Section -->
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle icon-orange" data-bs-toggle="modal" data-bs-target="#myModal"></i>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}reports_eggs.png" alt="Egg reports icon" class="non-round-icon"></a>
        </div>
        <div class="col-6 col-css">
            <a href=""><img src="{{ MEDIA_URL }}profile_and_setting.png" alt="settings & profile icon" class="non-round-icon"></a>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- "i" icon modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Egg Collection - Page Instructions</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-start modal-body">Each time you collect the eggs, complete this page. If you have several flocks,
                                                 the collection for each flock should be done individually. Each time you click
                                                 "Save" a fresh page is displayed.
                </p>
                <ul class="text-start">
                    <li><span class="fw-bold">Date:</span> Add the collection date.</li>
                    <li><span class="fw-bold">Select Flock:</span> Select which flock laid the eggs (only displays if you have multiple flocks).</li>
                    <li><span class="fw-bold">Qty Laid Trays:</span> Quantity of full trays.</li>
                    <li><span class="fw-bold">Qty Laid Single:</span> This is the quantity of single eggs after trays have been filled.</li>
                    <li><span class="fw-bold">Qty of Eggs Damaged:</span> Damaged eggs that are OK for personal use but not for sale.</li>
                    <li><span class="fw-bold">Qty of Eggs Broken:</span> Quantity of broken and unuseable eggs.</li>
                    <li><span class="fw-bold">Qty of Eggs Taken for Personal Use:</span> Any undamaged eggs taken for personal use.</li>
                    <li><span class="fw-bold">Qty of Eggs Given Away Free:</span> Any undamaged eggs given away for free.</li>
                    <li><span class="fw-bold">Weight of all Eggs Laid:</span> Total weight of all eggs laid, except unuseable broken eggs.</li>
                    <li><span class="fw-bold">Notes:</span> If you have any notes about the collection, add them here.</li>
                    <li><span class="fw-bold">Photos:</span> If you have any photos from the collection, upload them here.</li>
                    <li><span class="fw-bold">Save Button:</span> Click this button when finished.</li>
                    <li><span class="fw-bold">Cancel Button:</span> Click this button to clear all data entered.</li>
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- FORM SECTION  -->
<div class="element-container">
    <form method="POST" action="" enctype="multipart/form-data" name="egg_collection" id="submit-form" autocomplete="off">
        {% csrf_token %}
        
        <div class="form-data">
            <!-- Prevents Chrome and Firefox from offering autofill on fields. 
                 Required because on many fields we provide our own auto-suggest and it looks messy and confusing.
                 It requires autocomplete="off" in the above form in order to work. 
                 Taken from: https://gist.github.com/niksumeiko/360164708c3b326bd1c8 where there are other solutions too -->
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            
            <!-- Eggs Laid Section -->
            <section name="flock-core-info">
                {% include 'html_includes/date.html' %}
                {% include 'html_includes/flock.html' %}
                <div class="container" id="egg-qty-2col-div" >
                    <div class="row">
                        <!-- Eggs Laid Trays -->
                        <div class="col-6 two-inputs-left">
                            <div class="bottom-margin label-float">
                                {{ form.qty_egg_trays }}
                                <label for="qty-egg-trays">Qty Laid - Trays</label>
                            </div>
                        </div>
                        <!-- Eggs Laid Singles-->
                        <div class="col-6 two-inputs-right">
                            <div class="bottom-margin label-float">
                                {{ form.qty_egg_singles }}
                                <label for="qty-egg-singles">Qty Laid - Single</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Eggs Laid Singles-->
                <div id="egg-qty-1col-div" class="bottom-margin label-float">
                    {{ form.qty_egg_singles }}
                    <label for="qty-egg-singles">Qty Laid - Single</label>
                </div>
                <!-- Total Eggs Laid -->
                <div class="row bottom-margin">
                    <div class="col-10 col-css">
                        <h5 class="row-name">Total Eggs Laid:</h5>
                    </div>
                    <div class="col-2 col-css col-css-right label-float">
                        <h5 class="changeFn" id="qty-total-eggs-laid"></h5>
                        <label for="qty-total-eggs-laid" class="hidden-label">Total Eggs Laid</label>
                    </div>
                </div>
                <div class="bottom-margin">
                    <hr class="hr-large">
                </div>
            </section>

            <!-- Advanced Section - Bootstrap Collapse https://getbootstrap.com/docs/5.0/components/collapse/-->
            <!-- Section contained within a div to allow for show and hide of section and hr -->
            <div class="show-on-change">
                <section id="egg-collection-advanced-section" name="advanced-section">
                        <div class="bottom-margin panel-div label-float">
                            <a class="bottom-margin panel-title" id="advanced-div" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <h5>Advanced (Click on me)</h5>
                            </a>
                        </div>
                        <div class="collapse in" id="collapseExample">
                            <!-- Eggs Damaged -->
                            <div class="bottom-margin label-float col-css-right">
                                {{ form.qty_eggs_damaged }}
                                <label for="qty-eggs-damaged">Qty of Eggs Damaged (OK for personal use)</label>
                            </div>
                            <!-- Eggs Broken -->
                            <div class="bottom-margin label-float">
                                {{ form.qty_eggs_broken }}
                                <label for="qty-eggs-broken">Qty of Eggs Broken (Unuseable)</label>                
                            </div>
                            <div class="bottom-margin">
                                <hr class="hr-small">
                            </div>
                            <!-- Eggs Personal Use -->
                            <div class="bottom-margin label-float">
                                {{ form.qty_eggs_personal_use }}
                                <label for="qty-eggs-personal-use">Qty of Eggs Taken for Personal Use</label> 
                            </div>
                            <!-- Eggs Given Free -->
                            <div class="bottom-margin label-float">
                                {{ form.qty_eggs_given_free }}
                                <label for="qty-eggs-given-free">Qty of Eggs Given Away Free</label> 
                            </div>
                            <div class="bottom-margin">
                                <hr class="hr-small">
                            </div>
                            <!-- Eggs Total Weight -->
                            <div class="row bottom-margin">
                                <div class="col-9 col-css label-float">
                                    {{ form.weight_total_eggs_laid }}
                                    <label for="weight-total-eggs-laid">Laid Eggs Weight (excl. Broken)</label>
                                </div>
                                <div class="col-1" id="weight-value-total-eggs-laid">
                                </div>
                                <div class="col-2 col-css bottom-margin">
                                    <select name="weights_and_measures_units" id="weights-and-measures-units">
                                        <option value="g">g</option>
                                        <option value="kg">kg</option>
                                        <option value="oz">oz</option>
                                        <option value="lb">lb</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Eggs Average Weight -->
                            <div class="row bottom-margin">
                                <div class="col-10 col-css">
                                    <h5 class="row-name">Average Egg Weight:</h5>
                                </div>
                                <div class="col-2 col-css col-css-right label-float">
                                    <h5><span id="avg-egg-weight"></span><span class="unit-of-measurement" id="unit-of-measurement"></span></h5>
                                </div>
                            </div>
                            <div class="bottom-margin">
                                <hr class="hr-large">
                            </div>
                            <!-- Eggs Saleable Qty -->
                            <div class="row bottom-margin">
                                <div class="col-10 col-css">
                                    <h5 class="row-name">Saleable Quantity:</h5>
                                </div>
                                <div class="col-2 col-css col-css-right label-float">
                                    <h5 id="qty-saleable-eggs"></h5>
                                </div>
                            </div>
                        </div>
                </section>

                <div class="bottom-margin">
                    <hr class="hr-large">
                </div>
            </div>

            <!-- Notes & Images Section -->
            {% include 'html_includes/notes_and_pics.html' %}

            <!-- Used as a warning instead of an Alert -->
            {% include 'html_includes/validation_warning.html' %}

            <!-- Buttons Section -->
            <div class="button-container">
                <button type='submit' id="save-button" class="btn button button-full-size save-button" onclick="validate(event)">Save</button> 
                <button id="cancel-button" class="btn button button-full-size cancel-button">Cancel</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'regular_tasks/js/regular_tasks_egg_collection.js' %}"></script>
    <script src="{% static 'regular_tasks/js/regular_tasks.js' %}"></script>
{% endblock %}
