{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sub_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/regular_tasks.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Egg Collection
{% endblock %}

{% block sub-nav %}
{% endblock %}

{% block content %}

<div class="element-container container-fluid sub-nav-container">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link active" href="{% url 'egg_collection' %}">
                <img src="{{ MEDIA_URL }}reg_task_egg_collection.png" alt="Regular Tasks, Egg Collection Icon" class="nav-link-image sub-nav-link-image">
                Egg Collection
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'feeding_time' %}">
                <img src="{{ MEDIA_URL }}reg_task_feeding_time.png" alt="Regular Tasks, Feeding Time Icon" class="nav-link-image sub-nav-link-image">
                Feeding-Time
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'coop_cleaning' %}">
                <img src="{{ MEDIA_URL }}reg_task_coop_cleaning.png" alt="Regular Tasks, Coop Cleaning Icon" class="nav-link-image sub-nav-link-image">
                Coop Cleaning
            </a>
        </li>
    </ul>
</div>

<div class="large-screen-h1">
    <div class="bottom-margin">
        <h1>Egg Collection</h1>
    </div>
    <div class="bottom-margin">
        <hr class="hr-large">
    </div>
</div>

<!-- Icons and Links Section -->
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle icon-orange"></i>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}reports_eggs.png" alt="Egg reports icon" class="non-round-icon"></a>
        </div>
        <div class="col-6 col-css">
            <a href=""><img src="{{ MEDIA_URL }}profile_and_setting.png" alt="settings & profile icon" class="non-round-icon"></a>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- MAIN SECTION  -->
<div class="element-container">
    <form method="POST" action="{% url 'egg_collection' %}" name="hcc-form">
        {% csrf_token %}
        <div class="form-data">
            <!-- Eggs Laid Section -->
            <section name="flock-core-info">
                {% include 'html_includes/date_flock.html' %}
                <div class="container bottom-margin">
                    <div class="row">
                        <div class="col-6 two-inputs-left">
                            <input type="integer" name="qty_trays" placeholder="Qty Laid - Trays" id="qty-trays">
                        </div>
                        <div class="col-6 two-inputs-right">
                            <input type="integer" name="qty_singles" placeholder="Qty Laid - Single" id="qty-singles">
                        </div>
                    </div>
                </div>
                <div class="row bottom-margin">
                    <div class="col-10 col-css">
                        <h6 class="row-name">Total Eggs Laid:</h6>
                    </div>
                    <div class="col-2 col-css col-css-right">
                        <h5 id="total-eggs-laid text-end">0</h5>
                    </div>
                </div>
                <div class="bottom-margin">
                    <input type="number" name="eggs-damaged" value="" placeholder="Qty of Eggs Damaged (OK for personal use)" id="eggs-damaged" 
                    step="1" min="0">
                </div>
                <div class="bottom-margin">
                    <input type="number" name="eggs-broken" value="" placeholder="Qty of Eggs Broken (Unuseable)" id="eggs-broken" 
                    step="1" min="0">
                </div>
                <div class="bottom-margin">
                    <hr class="hr-large">
                </div>
            </section>
            <!-- Advanced Section - Bootstrap Collapse https://getbootstrap.com/docs/5.0/components/collapse/-->
            <section name="advanced-section">
                <div class="bottom-margin panel-div">
                    <a class="bottom-margin panel-title" id="advanced-div" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h6>Advanced</h6>
                    </a>
                </div>
                <div class="collapse in" id="collapseExample">
                    <div class="bottom-margin">
                        <input type="number" name="eggs-personal-use" value="" placeholder="Qty of Eggs Taken for Personal Use)" id="eggs-personal-use" 
                        step="1" min="0">
                    </div>
                    <div class="bottom-margin">
                        <input type="number" name="eggs-given-free" value="" placeholder="Qty of Eggs Given Away Free" id="eggs-given-free" 
                        step="1" min="0">
                    </div>
                    <!--
                    <div class="container">
                        <div class="row bottom-margin">
                            <div class="col-10 col-css">
                                <input type="number" name="feed-qty-stock" placeholder="Qty in Stock" id="feed-qty-stock" 
                                    step="1" min="0" oninput="this.value = Math.abs(this.value)" required>
                            </div>
                            <div class="col-2 col-css">
                                <h5 class="text-end">
                                    kg
                                </h5>
                            </div>
                        </div>
                    </div>-->
                    <div class="row bottom-margin">
                        <div class="col-10 col-css">
                            <h6 class="row-name">Average Egg Weight:</h6>
                        </div>
                        <div class="col-2 col-css col-css-right">
                            <h5 id="total-eggs-laid text-end">#gr</h5>
                        </div>
                    </div>
                </div>
            </section>

            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <div class="row bottom-margin">
                <div class="col-10 col-css">
                    <h6 class="row-name">Saleable Quantity:</h6>
                </div>
                <div class="col-2 col-css col-css-right">
                    <h5 id="total-eggs-laid text-end"># eggs</h5>
                </div>
            </div>

            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Notes & Images Section -->
            {% include 'html_includes/notes_and_pics.html' %}

            <!-- Used as a warning instead of an Alert -->
            <section name="warning-section">
                <div class="warning-div">
                    <h5 class="text-danger text-start" id="bird-qty-warning"></h5>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <div class="button-container">
                <input type="hidden" name="redirect_url" value="onboard_produce"/>
                <button id="save-button" class="btn button button-full-size save-button" onclick="validateQtys()">Save</button> 
                <button type='submit' id="cancel-button" class="btn button button-full-size cancel-button" onclick="validateQtys()">Cancel</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}