{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sub_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signed_in_user_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/input_label_float.css' %}" />
    <link rel="stylesheet" href="{% static 'regular_tasks/css/regular_tasks.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Feeding Time
{% endblock %}

{% block sub-nav %}
{% endblock %}

{% block content %}

<!-- Sub Navigation Section -->
<div class="element-container container-fluid sub-nav-container">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'egg_collection' %}"> 
                <img src="{{ MEDIA_URL }}reg_task_egg_collection.png" alt="Regular Tasks, Egg Collection Icon" class="nav-link-image sub-nav-link-image">
                Egg Collection
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link active" href="{% url 'feeding_time' %}">
                <img src="{{ MEDIA_URL }}reg_task_feeding_time.png" alt="Regular Tasks, Feeding Time Icon" class="nav-link-image sub-nav-link-image">
                Feeding Time
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'coop_cleaning' %}">
                <img src="{{ MEDIA_URL }}reg_task_coop_cleaning.png" alt="Regular Tasks, Coop Cleaning Icon" class="nav-link-image sub-nav-link-image">
                Coop Cleaning
            </a>
        </li>
    </ul>
</div>

<!-- Page Name - Non-Mobile -->
{% include 'html_includes/page_name_non_mobile.html' with page_name="Feeding Time" %}

<!-- Icons and Links Section -->
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle icon-orange"></i>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}reports_food_and_water.png" alt="Food & water reports icon" class="non-round-icon"></a>
        </div>
        <div class="col-6 col-css">
            <a href=""><img src="{{ MEDIA_URL }}profile_and_setting.png" alt="settings & profile icon" class="non-round-icon"></a>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- MAIN SECTION  -->
<div class="element-container">
    <form method="POST" action="{% url 'get_onboarding_data' %}" name="hcc-form">
        {% csrf_token %}

        <div class="form-data">
            {% include 'html_includes/date.html' %}
            {% include 'html_includes/flock.html' %}
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Feed Section -->
            <section name="feeds">
                <div class="container">
                    <div class="row bottom-margin row-name">
                        <div class="col-2">
                            <img src="{{ MEDIA_URL }}reg_task_feed.png" alt="Feed icon" class="non-round-icon">
                        </div>
                        <div class="col-10 content-vertical-center">
                            <h4>Feed</h4>
                        </div>
                    </div>
                    <div class="bottom-margin label-float">
                        {{ form.food_type }}
                        <label for="feed-type">Food Name</label>
                    </div>
                </div>
                <div class="container">
                    <div class="row bottom-margin label-float">
                        <div class="col-10 col-css">
                            {{ form.amount_food_rem }}
                            <label for="amount-food-rem">Amount of Food Remaining</label>
                        </div>
                        <div class="col-2 col-css">
                            <h5 class="text-end">
                                kg
                            </h5>
                        </div>
                    </div>
                    <div class="row bottom-margin label-float">
                        <div class="col-10 col-css">
                            {{ form.amount_food_added }}
                            <label for="amount-food-added">Amount of Food Added</label>
                        </div>
                        <div class="col-2 col-css">
                            <h5 class="text-end">
                                kg
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="container" name="feeds-container"></div>
                <div class="add-another-btn-div bottom-margin">
                    <button href="" type="button" class="button add-another-btn" onclick="addAnotherFeed()">Add Another</button>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Water Section -->
            <section name="water">
                <div class="container">
                    <div class="row bottom-margin row-name">
                        <div class="col-2">
                            <img src="{{ MEDIA_URL }}reg_task_water.png" alt="Water icon" class="non-round-icon">
                        </div>
                        <div class="col-10 content-vertical-center">
                            <h4>Water</h4>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row bottom-margin label-float">
                        <div class="col-10 col-css">
                            {{ form.amount_water_rem }}
                            <label for="amount-water-rem">Amount of Water Remaining</label>
                        </div>
                        <div class="col-2 col-css">
                            <h5 class="text-end">
                                lt
                            </h5>
                        </div>
                    </div>
                    <div class="row bottom-margin label-float">
                        <div class="col-10 col-css">
                            {{ form.amount_water_added }}
                            <label for="amount-water-added">Amount of Water Added</label>
                        </div>
                        <div class="col-2 col-css">
                            <h5 class="text-end">
                                lt
                            </h5>
                        </div>
                    </div>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Notes & Images Section -->
            {% include 'html_includes/notes_and_pics.html' %}

            <!-- Used as a warning instead of an Alert -->
            <section name="warning-section">
                <div class="warning-div">
                    <h5 class="text-danger text-start" id="warning-section-text"></h5>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <div class="button-container">
                <input type="hidden" name="redirect_url" value="onboard_produce"/>
                <button id="save-button" class="btn button button-full-size save-button" onclick="validateQtys()">Save</button> 
                <button type='submit' id="cancel-button" class="btn button button-full-size cancel-button" onclick="validateQtys()">Cancel</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}