{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sub_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signed_in_user_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/input_label_float.css' %}" />
    <link rel="stylesheet" href="{% static 'regular_tasks/css/regular_tasks.css' %}" />
{% endblock %}

{% block nav_page_title %}
    Feeding Time
{% endblock %}

{% block sub-nav %}
{% endblock %}

{% block content %}

<!-- Modal 1: Page Set-up Modal when User lands on page for first time or until required data is supplied -->
<div class="modal" id="page-setup-modal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header & Title -->
            <div class="modal-header">
                <h4 class="modal-title">Watering - Set-up Instructions</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body - Instructions -->
            <div class="modal-body">
                <p class="text-start modal-body"><span class="fw-bold">Set-Up:</span> To get started we need to know how much water you have most
                                                                                      recently given to your birds. This allow us to make
                                                                                      future consumption calculations.</p>
                <p class="text-start modal-body"><span class="fw-bold">Subsequent Watering:</span> For all subsequent waterings, you will need to enter 
                    the amount of water remaining from the previous watering, plus the amount added.</p>
            </div>

            <!-- Modal footer & Buttons -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Sub Navigation Section -->
<div class="element-container container-fluid sub-nav-container">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'egg_collection' %}"> 
                <img src="{{ MEDIA_URL }}reg_task_egg_collection.png" alt="Regular Tasks, Egg Collection Icon" class="nav-link-image sub-nav-link-image">
                Collecting
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'feeding_time' %}">
                <img src="{{ MEDIA_URL }}reg_task_feeding_time.png" alt="Regular Tasks, Feeding Time Icon" class="nav-link-image sub-nav-link-image">
                Feeding
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link active" href="">
                <img src="{{ MEDIA_URL }}reg_task_water.png" alt="Regular Tasks, Watering Time Icon" class="nav-link-image sub-nav-link-image">
                Watering
            </a>
        </li>
        <li class="nav-item text-wrap">
            <a class="nav-link sub-nav-link" href="{% url 'coop_cleaning' %}">
                <img src="{{ MEDIA_URL }}reg_task_coop_cleaning.png" alt="Regular Tasks, Coop Cleaning Icon" class="nav-link-image sub-nav-link-image">
                Cleaning
            </a>
        </li>
    </ul>
</div>

<!-- Page Name - Non-Mobile -->
{% include 'html_includes/page_name_non_mobile.html' with page_name="Watering Time" %}

<!-- Icons and Links Section -->
<div class="container element-container">
    <div class="row bottom-margin">
        <div class="col-2 col-css">
            <i class="fas fa-info-circle icon-orange" data-bs-toggle="modal" data-bs-target="#myModal"></i>
        </div>
        <div class="col-2 col-css">
            <a href=""><img src="{{ MEDIA_URL }}reports_food_and_water.png" alt="Food & water reports icon" class="non-round-icon"></a>
        </div>
        <div class="col-6 col-css">
            <a href=""><img src="{{ MEDIA_URL }}profile_and_setting.png" alt="settings & profile icon" class="non-round-icon"></a>
        </div>
    </div>
</div>
<div class="bottom-margin">
    <hr class="hr-large">
</div>

<!-- Modal 2: "i" icon modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Watering - Page Instructions</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-start modal-body">Each time you give water to your birds, complete this page. You will need to enter 
                    the amount of water remaining from the previous watering, plus the amount added now.</p>
                <ul class="text-start">
                    <li><span class="fw-bold">Date:</span> Add the wateringing date.</li>
                    <li><span class="fw-bold">Select Flock:</span> Select which flock was given water (only displays if you have multiple flocks.
                                                                   If you have several flocks, you can add another feeding after you click save).</li>
                    <li><span class="fw-bold">Amount of Water Remaining:</span> Amount of water remaining in the feeder prior to adding more.</li>
                    <li><span class="fw-bold">Amount of Water Added:</span> Amount of water added to the feeder.</li>
                    <li><span class="fw-bold">Notes:</span> If you have any notes about the watering, add them here.</li>
                    <li><span class="fw-bold">Photos:</span> If you have any photos from the watering, upload them here.</li>
                    <li><span class="fw-bold">Save Button:</span> Click this button when finished.</li>
                    <li><span class="fw-bold">Cancel Button:</span> Click this button to clear all data entered.</li>
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn button button-small-size" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- MAIN SECTION  -->
<div class="element-container">
    <form method="POST" action="{% url 'feeding_time' %}" enctype="multipart/form-data" name="feeding_time" autocomplete="off">
        {% csrf_token %}

        <div class="form-data">
            <!-- Prevents Chrome and Forefox from offering autofill on fields. 
                 Required because on many fields we provide our own auto-suggest and it looks messy and confusing.
                 It requires autocomplete="off" in the form above to work. 
                 Taken from: https://gist.github.com/niksumeiko/360164708c3b326bd1c8 where there are other solutions too -->
            <input autocomplete="false" name="hidden" type="text" style="display:none;">

            {% include 'html_includes/date.html' %}
            {% include 'html_includes/flock.html' %}
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Feed Section -->
            <section name="feeds">
                <div class="container">
                    <div class="row bottom-margin row-name">
                        <div class="col-2">
                            <img src="{{ MEDIA_URL }}reg_task_feed.png" alt="Feed icon" class="non-round-icon">
                        </div>
                        <div class="col-10 content-vertical-center">
                            <h4>Feed</h4>
                        </div>
                    </div>
                </div>
                <!-- Feed Type -->
                <div style="position: relative;">
                    <div class="bottom-margin label-float">
                        {{ form.feed_name }}
                        <label id="feed-type-label" for="feed-name">Feed Type</label>
                    </div>
                    <!-- This div is the dropdown that displays when the User adds a letter, or string of, that have a match in the feed types in the db -->
                    <div class="auto-suggest-dropdown" id="feed-suggestions-list">
                    </div>
                </div>
                <div class="container">
                    <div class="row bottom-margin">
                        <div class="col-9 col-css label-float">
                            {{ form.amount_food_rem }}
                            <label for="amount-food-rem">Amount of Food Remaining</label>
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-2 col-css">
                            <select name="weights_and_measures_units" id="weights-and-measures-units">
                                <option value="g">g</option>
                                <option value="kg">kg</option>
                                <option value="oz">oz</option>
                                <option value="lb">lb</option>
                            </select>
                        </div>
                    </div>
                    <div class="row bottom-margin">
                        <div class="col-9 col-css label-float">
                            {{ form.amount_food_added }}
                            <label for="amount-food-added">Amount of Food Added</label>
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-2 col-css">
                            <select name="weights_and_measures_units" id="weights-and-measures-units">
                                <option value="g">g</option>
                                <option value="kg">kg</option>
                                <option value="oz">oz</option>
                                <option value="lb">lb</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container" name="feeds-container"></div>
                <div class="add-another-btn-div bottom-margin">
                    <button href="" type="button" class="button add-another-btn" onclick="addAnotherFeed()">Add Another</button>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Water Section -->
            <section name="water">
                <div class="row bottom-margin row-name">
                    <div class="col-2">
                        <img src="{{ MEDIA_URL }}reg_task_water.png" alt="Water icon" class="non-round-icon">
                    </div>
                    <div class="col-10 content-vertical-center">
                        <h4>Water</h4>
                    </div>
                </div>
                
                <div class="row bottom-margin label-float">
                    <div class="col-9 col-css">
                        {{ form.amount_water_rem }}
                        <label for="amount-water-rem">Amount of Water Remaining</label>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-2 col-css">
                        <select name="weights_and_measures_units" id="weights-and-measures-units">
                            <option value="g">lt</option>
                            <option value="kg">fl oz</option>
                            <option value="oz">gallon</option>
                        </select>
                    </div>
                </div>
                <div class="row bottom-margin label-float">
                    <div class="col-9 col-css">
                        {{ form.amount_water_added }}
                        <label for="amount-water-added">Amount of Water Added</label>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-2 col-css">
                        <select name="weights_and_measures_units" id="weights-and-measures-units">
                            <option value="g">lt</option>
                            <option value="kg">fl oz</option>
                            <option value="oz">gallon</option>
                        </select>
                    </div>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>

            <!-- Notes & Images Section -->
            {% include 'html_includes/notes_and_pics.html' %}

            <!-- Used as a warning instead of an Alert -->
            <section name="warning-section">
                <div class="warning-div">
                    <h5 class="text-danger text-start" id="warning-section-text"></h5>
                </div>
            </section>
            <div class="bottom-margin">
                <hr class="hr-large">
            </div>
            <!-- Buttons Section -->
            <div class="button-container">
                <button id="save-button" class="btn button button-full-size save-button" onclick="validate(event)">Save</button> 
                <button id="cancel-button" class="btn button button-full-size cancel-button">Cancel</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'regular_tasks/js/regular_tasks_feeding_time.js' %}"></script>
{% endblock %}
