<div class="bottom-margin label-float">
    {% if 'acquired_date' in onboard_profile_data %}
    <input type="date" name="date" value="" id="todays-date" required autofocus>
    <label for="todays-date" class="hidden-label">Date</label>
    {% else %}
    <input type="date" name="date" value="" id="todays-date" required autofocus>
    <label for="todays-date" class="hidden-label">Date</label>
    {% endif %}
</div>
<div class="bottom-margin">
    <select name="flock" id="flock-name" required>
        <option value="" disabled selected>Select flock</option>
      <label for="flock-name">Flock Name</label>
    {% for flock in flocks %}
        <option type="text" name="flock_name" value="{{ flock.id }}" placeholder="flock.flock_name" id="flock-name">{{ flock.flock_name.title }}</option>
    {% endfor %}
    </select>
</div>