<!-- This has been ceprecated and replaced with alternative code. However, it hasn't been
     deleted so that it can be referred to at a later stage if required. -->

<div class="bottom-margin label-float">
    <!-- {{ form.feed_type }} -->
    <select name="feed_type" id="food-name" required>
        <option value="" disabled selected>Select Food</option>
        {% for feed in feeds %}
            <option type="text" name="feed_name" value="{{ feed.id }}" placeholder="feed.feed_name" id="feed-name">{{ feed.feed_name.title }}</option>
        {% endfor %}
    </select>
    <label id="select-input-label" for="feed-name">Feed Name</label>
</div>
