<section name="flock-hcc">
    <div class="container form-data flock-hcc-form-data">
        <div class="row bottom-margin" id="hens-row">
            <div class="col-2 col-css">
                <img src="{{ MEDIA_URL }}flock_manag_hens.png" alt="Chicken" class="col-css-element">
            </div>
            <div class="col-3 col-css">
                <h5 class="row-name col-css-element">Hens</h5>
            </div>
            <div class="col-3 col-css">
                <p class="checkbox-label hcc-checkbox-label col-css-element">All Hens</p>
            </div>
            <div class="col-1 col-css">
                <input type="checkbox" name="all_hens_check" id="all_hens_check" class="col-css-element hcc-checkbox">
            </div>
            <div class="col-3 col-css col-css-right">
                {% if 'hens_qty' in onboard_profile_data %}
                <input type="number" name="hens_qty" value="{{ onboard_profile_data.hens_qty }}" placeholder="Qty" id="hens-qty" 
                    step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                {% else %}
                <input type="number" name="hens_qty" placeholder="Qty" id="hens-qty" 
                    step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                {% endif %}
            </div>
        </div>
        <div class="bottom-margin">
            <hr class="hr-small">
        </div>

        <div class="row bottom-margin" id="chicks-row">
            <div class="col-2 col-css">
                <img src="{{ MEDIA_URL }}flock_manag_chicks.png" alt="Chicks" class="col-css-element">
            </div>
            <div class="col-3 col-css">
                <h5 class="row-name col-css-element">Chicks</h5>
            </div>
            <div class="col-3 col-css">
                <p class="checkbox-label hcc-checkbox-label col-css-element">All Chicks</p>
            </div>
            <div class="col-1 col-css">
                <input type="checkbox" name="all_chicks_check" id="all_chicks_check" class="col-css-element hcc-checkbox">
            </div>

            <div class="col-3 col-css col-css-right">
                {% if 'chicks_qty' in onboard_profile_data %}
                <input type="number" name="chicks_qty" value="{{ onboard_profile_data.chicks_qty }}" placeholder="Qty" id="chicks-qty" 
                step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                {% else %}
                <input type="number" name="chicks_qty" placeholder="Qty" id="chicks_qty" 
                    step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                {% endif %}

            </div>
        </div>
        <div class="bottom-margin">
            <hr class="hr-small">
        </div>

        <div class="row bottom-margin" id="cocks-row">
            <div class="col-2 col-css">
                <img src="{{ MEDIA_URL }}flock_manag_cocks.png" alt="Cocks" class="col-css-element">
            </div>
            <div class="col-3 col-css">
                <h5 class="row-name col-css-element">Cocks</h5>
            </div>
            <div class="col-3 col-css">
                <p class="checkbox-label hcc-checkbox-label col-css-element">All Cocks</p>
            </div>
            <div class="col-1 col-css">
                <input type="checkbox" name="all_cocks_check" id="all_cocks_check" class="col-css-element hcc-checkbox">
            </div>
            <div class="col-3 col-css col-css-right">
                {% if 'cocks_qty' in onboard_profile_data %}
                <input type="number" name="cocks_qty" value="{{ onboard_profile_data.cocks_qty }}" placeholder="Qty" id="cocks-qty" 
                step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                {% else %}
                <input type="number" name="cocks_qty" placeholder="Qty" id="cocks-qty" 
                    step="1" min="0" oninput="this.value = Math.abs(this.value)" class="hcc-input" onkeyup="hccTotal()">
                {% endif %}
            </div>
        </div>
        <div class="bottom-margin">
            <hr class="hr-small">
        </div>
        <div class="row bottom-margin">
            <div class="col-10 col-css">
                <h6 class="row-name">Total Number of Birds:</h6>
            </div>

            <div class="col-2 col-css col-css-right">
                <h5 id="total-birds text-end">0</h5>
            </div>
        </div>
    </div>
    <div class="container" name="flocks-container"></div>
    <div class="add-another-btn-div bottom-margin">
        <button href="" type="button" class="button add-another-btn" onclick="addAnotherFlock()">Add Another</button>
    </div>
</section>