<section name="notes_and_images">
    <div class="container element-container">
        <div class="row bottom-margin">
            <div class="col-10 form-data">
                <textarea name="notes" placeholder="notes">
                </textarea>
            </div>
            <div class="col-2 col-css-right">
                <i class="fas fa-camera"></i>
            </div>
        </div>
        <div class="row bottom-margin photos-div-container">
            <div class="photos-div">
            </div>
            <div class="photos-div">
            </div>
        </div>
    </div>
</section>