<!-- This section appears at the bottom of most pages. It allows the User to record notes and add photos,
    then view/edit those notes and photos -->

<section name="notes_and_images">
    <div class="container element-container">
        <div class="row">
            <div class="col-10 form-data textarea-col">
                <div class="bottom-margin label-float">
                    <textarea name="notes" placeholder="Notes"></textarea>
                    <label for="notes">Notes</label>
                </div>
            </div>
            <div class="col-2 col-css-right">
                <div class="bottom-margin">
                    <i class="fas fa-camera"></i>
                </div>
            </div>
        </div>
        <div class="row bottom-margin photos-div-container">
            <div name="image_url" class="photos-div">
            </div>
            <div class="photos-div">
            </div>
        </div>
    </div>
</section>